<template>
<div>
    <mq-layout mq="lg">
        <navbar id="navbar"/>
        </mq-layout>

        <mq-layout :mq="['md','sm']">
        <nav class="main-nav" id ="mainNav">
            <burger></burger>
        </nav>
        <sideBar></sideBar>
    </mq-layout>
    <div class="container">
        <div class="row mt-4">
            <h2 class="m-auto">{{ title }}</h2>
        </div>
        <div class="row mt-5">
            <b-card class="col-12">
                <b-text>
                    <b-form inline class="text-center">
                        <label>{{ rechercheInput1 }} </label>
                        <b-form-input v-model="text" placeholder="Entrer un nom" class="col-3 ml-2 mr-5"></b-form-input>
                        <label v-if="rechercheInput2">{{ rechercheInput2 }} </label>
                        <b-form-input v-if="rechercheInput2" v-model="text" placeholder="Entrer une gamme" class="col-3 ml-2 mr-5"></b-form-input>
                        <router-link to="/configuration" exact class="col-3 ml-2">
                            <b-button lg="4" pill id="btnBlue" size="lg">Rechercher</b-button>
                        </router-link>
                    </b-form> 
                </b-text>
            </b-card>
        </div>
        <div class="row mt-5">
            <b-table v-if="model" striped hover :fields="modelFields" :items="modelList"></b-table>
            <b-table v-if="range" striped hover :fields="rangeFields" :items="rangeList"></b-table>
            <b-table v-if="family" striped hover :fields="familyFields" :items="familyComponentList"></b-table>
            <b-table v-if="component" striped hover :fields="componentFields" :items="componentList"></b-table>
            <b-table v-if="provider" striped hover :fields="providerFields" :items="providerList"></b-table>
            <b-table v-if="frame" striped hover :fields="frameFields" :items="frameList"></b-table>
            <b-table v-if="setting" striped hover :fields="settingFields" :items="settingList"></b-table>
        </div>
        <div class="row mt-4">
            <router-link to="/configuration" exact class="offset-3">
                <b-button lg="4" pill id="btnRed" size="lg">Retour</b-button>
            </router-link>
            <router-link to="/configuration" exact class="offset-3 col-2">
                <b-button lg="4" pill id="btnGreen" size="lg">Nouveau</b-button>
            </router-link>
        </div>
    </div>
</div>

</template>

<script>
    import {mapState, mapGetters} from "vuex"
    import navbar from '../components/_navBar'
    import burger from '../components/_burger'
    import sideBar from '../components/_sideBar'    

    export default {
        computed:{
            ...mapState(["modelList","rangeList", "familyComponentList", "componentList", "providerList", "frameList", "settinglist"]),
            ...mapGetters(["getModelList","getRangeList","getFamilyComponentList","getComponentList","getProviderList","getFrameList","getSettingList",]),
        },
        components: {
            navbar,
            burger,
            sideBar
        },
        data(){
            return{
                model:false,
                range:false,
                family:false,
                component:false,
                provider:false,
                frame:false,
                setting:false,
                modelFields:[
                    {key:'nature', label: 'Nom'},
                    {key:'range', label: 'Gamme'},
                ],
                rangeFields:[
                    {key:'name', label: 'Nom'},
                    {key:'exteriorFinish', label: 'Finition extérieure'},
                    {key:'insulationType', label: 'Isolant'},
                    {key:'coverType', label: 'Couverture'},
                ],
                familyFields:[
                    {key:'name', label: 'Famille de composant'},
                ],
                componentFields:[
                    {key:'nature', label: 'Nom composant'},
                    {key:'provider', label: 'Fournisseur'},
                ],
                providerFields:[
                    {key:'name', label: 'Nom fournisseur'},
                    {key:'email', label: 'Adresse mail'},
                    {key:'phoneNumber', label: 'Téléphone'},
                ],
                frameFields:[
                    {key:'name', label: 'Nom'},
                    {key:'quality', label: 'Qualité'},
                ],
                settingFields:[
                    {key:'tradingMargin', label: 'Marge entreprise (%)'},
                    {key:'businessMargin', label: 'Marge commercial (%)'},
                    {key:'VAT', label: 'T.V.A.'},
                ],
            }
        },
        props: ['title','rechercheInput1', 'rechercheInput2', 'object'],
        created() {
            if(this.object == "model"){
                this.$store.dispatch("loadModelList").then(() => {
                    console.log("le dispatch vient d'être fait");
                });
                this.model = true;
            }else if(this.object == "range"){
                this.$store.dispatch("loadRangeList").then(() => {
                    console.log("le dispatch vient d'être fait");
                });
                this.range = true;
            }else if(this.object == "family"){
                this.$store.dispatch("loadFamilyComponentList").then(() => {
                    console.log("le dispatch vient d'être fait");
                });
                this.family = true;
            }else if(this.object == "component"){
                this.$store.dispatch("loadComponentList").then(() => {
                    console.log("le dispatch vient d'être fait");
                });
                this.component = true;
            }else if(this.object == "provider"){
                this.$store.dispatch("loadProviderList").then(() => {
                    console.log("le dispatch vient d'être fait");
                });
                this.provider = true;
            }else if(this.object == "frame"){
                this.$store.dispatch("loadFrameList").then(() => {
                    console.log("le dispatch vient d'être fait");
                });
                this.frame = true;
            }else if(this.object == "setting"){
                this.$store.dispatch("loadSettingList").then(() => {
                    console.log("le dispatch vient d'être fait");
                });
                this.setting = true;
            }
        },
    }
</script>

<style lang="scss" scoped>
    a {color:white;}
</style>