<template>
  <div>
    <mq-layout mq="lg">
      <navbar id="navbar" />
    </mq-layout>

    <mq-layout :mq="['md', 'sm']">
      <nav class="main-nav" id="mainNav">
        <burger></burger>
      </nav>
      <sideBar></sideBar>
    </mq-layout>
    <div class="container">
      <div class="row mt-4">
        <h2 class="m-auto">Menu Configuration</h2>
      </div>
      <div class="row mt-4">
        <b-button
          to="/configuration/modeles"
          lg="4"
          class="col-5 mb-4"
          id="btnGreen"
          size="lg"
        >
          Modèle
        </b-button>
        <b-button
          to="/configuration/gammes"
          lg="4"
          class="col-5 offset-2 mb-4"
          id="btnGreen"
          size="lg"
        >
          Gamme
        </b-button>
        <b-button
          to="/configuration/famille-composants"
          lg="4"
          class="col-5 mb-4"
          id="btnGreen"
          size="lg"
        >
          Famille de composants
        </b-button>
        <b-button
          to="/configuration/composants"
          lg="4"
          class="col-5 offset-2 mb-4"
          id="btnGreen"
          size="lg"
        >
          Composant
        </b-button>
        <b-button
          to="/configuration/fournisseurs"
          lg="4"
          class="col-5 mb-4"
          id="btnGreen"
          size="lg"
        >
          Fournisseurs
        </b-button>
        <b-button
          to="/configuration/huisseries"
          lg="4"
          class="col-5 offset-2 mb-4"
          id="btnGreen"
          size="lg"
        >
          Huisseries
        </b-button>
        <b-button
          to="/configuration/parametres"
          lg="4"
          class="offset-3 col-6 mb-4"
          id="btnGreen"
          size="lg"
        >
          Paramètres
        </b-button>
      </div>
      <div class="row">
        <router-link to="/" exact class="offset-1">
          <b-button lg="4" pill id="btnRed" size="lg"> Retour </b-button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import navbar from "../components/_navBar";
import burger from "../components/_burger";
import sideBar from "../components/_sideBar";

export default {
  components: {
    navbar,
    burger,
    sideBar,
  },
  data: function () {
    return {
      info: null,
    };
  },
};
</script>

<style lang="scss" scoped>
a {
  color: white;
}
</style>