<template>
  <div>
    <div class="container">
      <div class="row mt-4">
        <div class="col-4 m-auto">
          <form @submit.prevent="submit()" class="form-signin">
            <div class="m-auto text-center">
              <img
                class="mb-4"
                src="../assets/logo.png"
                alt=""
                width="72"
                height="72"
              />
            </div>
            <h1 class="h3 mb-3 font-weight-normal text-center">
              MADERA - Connexion
            </h1>
            <b-alert
              class="mt-1"
              :show="showDismissibleAlert"
              dismissible
              @dismissed="showDismissibleAlert = 0"
              @dismiss-count-down="countDownChanged"
              >{{ error }}</b-alert
            >
            <label for="inputLogin" class="sr-only">Login</label>
            <input
              type="text"
              v-model="login"
              id="inputLogin"
              class="form-control"
              placeholder="Login"
              required
              autofocus
            />
            <label for="inputPassword" class="sr-only">Password</label>
            <input
              type="password"
              v-model="password"
              id="inputPassword"
              class="form-control mt-3"
              placeholder="Password"
              required
            />
            <div class="checkbox mb-3 mt-3">
              <label>
                <input type="checkbox" value="remember-me" /> Se rappeler de moi
              </label>
            </div>
            <b-button
              lg="4"
              class="btn btn-lg btn-primary btn-block"
              type="submit"
              id="btnGreen"
              size="lg"
            >
              Se connecter
            </b-button>
            <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      login: "",
      password: "",
      error: "",
      showDismissibleAlert: 0,
      dismissSecs: 10,
      show: false,
    };
  },
  // created() {
  //   //cacher la navbar
  //   if (document.getElementById("navbar")) {
  //     document.getElementById("navbar").style.display = "none";
  //   }
  //   if (document.getElementById("burger")) {
  //     document.getElementById("burger").style.display = "none";
  //   }
  // },
  methods: {
    async submit() {
      await this.$store
        .dispatch("controlConnection", {
          login: this.login,
          password: this.password,
        })
        .then(() => {
          this.$router.push("/");
        })
        .catch((error) => {
          this.error = error;
          this.showDismissibleAlert = true;
        });
    },
    countDownChanged(showDismissibleAlert) {
      this.showDismissibleAlert = showDismissibleAlert;
    },
  },
};
</script>

<style lang="scss">
body {
  background-color: whitesmoke;
}
</style>