<template>
  <div>
    <mq-layout mq="lg">
      <navbar id="navbar" />
    </mq-layout>

    <mq-layout :mq="['md', 'sm']">
      <nav class="main-nav" id="mainNav">
        <burger></burger>
      </nav>
      <sideBar></sideBar>
    </mq-layout>
    <div class="container">
      <div class="row mt-4">
        <h2 class="m-auto">{{ title }}</h2>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <b-card body-class="text-center" header-tag="nav">
            <template v-slot:header>
              <b-nav card-header tabs>
                <b-nav-item v-on:click="statsDay()" v-bind:active="day"
                  >jour</b-nav-item
                >
                <b-nav-item v-on:click="statsMonth()" v-bind:active="month"
                  >mois</b-nav-item
                >
                <b-nav-item v-on:click="statsYear()" v-bind:active="year"
                  >année</b-nav-item
                >
              </b-nav>
            </template>

            <b-card-body class="text-center">
              <b-card-text>
                <b-card-group deck>
                  <b-card
                    bg-variant="primary"
                    text-variant="white"
                    header="Devis fait"
                    class="text-center"
                  >
                    <b-card-text>
                      <b-form>
                        <h2>{{ cptNbDevis }}</h2>
                        <b-button
                          pill
                          variant="outline-light"
                          v-on:click="selectQuote('create')"
                          >Détail</b-button
                        >
                      </b-form>
                    </b-card-text>
                  </b-card>
                  <b-card
                    bg-variant="success"
                    text-variant="white"
                    header="Devis validé(s)"
                    class="text-center"
                  >
                    <b-card-text>
                      <b-form>
                        <h2>{{ cptNbDevisValidate }}</h2>
                        <b-button
                          pill
                          variant="outline-light"
                          v-on:click="selectQuote('validate')"
                          >Détail</b-button
                        >
                      </b-form>
                    </b-card-text>
                  </b-card>
                  <b-card
                    bg-variant="warning"
                    text-variant="white"
                    header=" Devis Validé(s) / Objectif"
                    class="text-center"
                  >
                    <b-card-text>
                      <h2>
                        {{ cptNbDevisValidate }}/{{
                          parseInt(cptGoalDevis / 15) + 1
                        }}
                      </h2>
                    </b-card-text>
                  </b-card>
                  <b-card
                    bg-variant="danger"
                    text-variant="white"
                    header="Devis à relancer"
                    class="text-center"
                  >
                    <b-card-text>
                      <b-form>
                        <h2>{{ cptNbDevisRelaunch }}</h2>
                        <b-button
                          pill
                          variant="outline-light"
                          v-on:click="selectQuote('relaunch')"
                          >Détail</b-button
                        >
                      </b-form>
                    </b-card-text>
                  </b-card>
                </b-card-group>
              </b-card-text>
            </b-card-body>
          </b-card>
        </div>
      </div>

      <div id="resultQuote" class="row mt-4" style="display: none">
        <div class="col-12">
          <b-table
            striped
            hover
            :fields="quoteFields"
            :items="resultQuotesList"
          >
            <template v-slot:cell(index)="data">
              {{ data.item._id }}
            </template>
            <template v-slot:cell(customer)="data">
              <b class="text-info"
                >{{ data.item.customer.lastname }}
                {{ data.item.customer.firstname }}</b
              >
            </template>
            <template v-slot:cell(phone)="data">
              {{ data.item.customer.phoneNumber }}
            </template>
            <template v-slot:cell(state)="data">
              {{ data.item.state.wording }}
            </template>
            <template v-slot:cell(creationDate)="data">
              {{ [data.item.creationDate, "YYYYMMDD"] | moment("DD/MM/YYYY") }}
            </template>
            <template v-slot:cell(modificationDate)="data">
              {{
                [data.item.modificationDate, "YYYYMMDD"] | moment("DD/MM/YYYY")
              }}
            </template>
          </b-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import { mapState } from "vuex";

import navbar from "../components/_navBar";
import burger from "../components/_burger";
import sideBar from "../components/_sideBar";

export default {
  computed: {
    ...mapState([
      "cptGoalDevis",
      "items",
      "firstname",
      "idUser",
      "loadQuotesList",
      "quotesUserList",
    ]),
  },
  components: {
    navbar,
    burger,
    sideBar,
  },
  data() {
    return {
      title: "Stats jour - " + this.howDay(),
      day: true,
      month: false,
      year: false,
      quoteUserDetail: false,
      quoteValidateDetail: false,
      quoteRelaunchDetail: false,
      cptNbDevis: 0,
      cptNbDevisValidate: 0,
      cptNbDevisRelaunch: 0,
      quoteFields: [
        { key: "index", label: "Référence" },
        { key: "customer", label: "Nom du client" },
        { key: "phone", label: "Téléphone" },
        { key: "state", label: "Etat" },
        { key: "creationDate", label: "Date modification" },
        { key: "modificationDate", label: "Date Création" },
      ],
      resultQuotesList: [],
      resultTimeQuotesList: [],
      resultTimeQuotesValidateList: [],
      resultTimeQuotesRelaunchList: [],
    };
  },
  methods: {
    statsDay: function () {
      console.log("========= statsDay début ============");
      this.day = true;
      this.month = false;
      this.year = false;
      this.cptNbDevis = 0;
      this.cptNbDevisValidate = 0;
      this.cptNbDevisRelaunch = 0;
      this.title = "Stats jour - " + this.howDay();
      var dateOfDay = moment().format("YYYYMMDD");
      for (const quoteUserList of this.quotesUserList) {
        console.log("on rentre dans le for du jour");
        console.log(quoteUserList.creationDate);
        console.log(dateOfDay);
        if (quoteUserList.creationDate == dateOfDay) {
          this.resultTimeQuotesList.push(quoteUserList);
          this.cptNbDevis++;
          if (quoteUserList.state._id == "5f1025b27b23f59e1bc924bd") {
            this.resultTimeQuotesValidateList.push(quoteUserList);
            this.cptNbDevisValidate++;
          }
          if (!quoteUserList.payment) {
            this.resultTimeQuotesRelaunchList.push(quoteUserList);
            this.cptNbDevisRelaunch++;
          }
        }
      }
      console.log(this.resultTimeQuotesList);
      console.log("======== fin statsDay ============");
    },
    statsMonth: function () {
      console.log("statsMonth début");
      this.day = false;
      this.month = true;
      this.year = false;
      this.cptNbDevis = 0;
      this.cptNbDevisValidate = 0;
      this.cptNbDevisRelaunch = 0;
      this.title = "Stats mois - " + this.howMonth();
      var firstDateOfMonth = moment().startOf("month").format("YYYYMMDD");
      var lastDateOfMonth = moment().endOf("month").format("YYYYMMDD");
      for (const quoteUserList of this.quotesUserList) {
        console.log("on rentre dans le for du mois");
        if (
          quoteUserList.creationDate < lastDateOfMonth &&
          quoteUserList.creationDate > firstDateOfMonth
        ) {
          this.resultTimeQuotesList.push(quoteUserList);
          console.log(this.cptNbDevis);
          this.cptNbDevis++;
          if (quoteUserList.state._id == "5f1025b27b23f59e1bc924bd") {
            this.resultTimeQuotesValidateList.push(quoteUserList);
            this.cptNbDevisValidate++;
          }
          if (!quoteUserList.payment) {
            this.resultTimeQuotesRelaunchList.push(quoteUserList);
            this.cptNbDevisRelaunch++;
          }
        }
      }
    },
    statsYear: function () {
      console.log("statsYear début");
      this.day = false;
      this.month = false;
      this.year = true;
      this.cptNbDevis = 0;
      this.cptNbDevisValidate = 0;
      this.cptNbDevisRelaunch = 0;
      this.title = "Stats année - " + this.howYear();
      var firstDateOfYear = moment().format("YYYY") + "0101";
      var lastDateOfYear = moment().format("YYYY") + "1231";
      console.log(lastDateOfYear);
      for (const quoteUserList of this.quotesUserList) {
        console.log("on rentre dans le for de l'annee");
        if (
          quoteUserList.creationDate < lastDateOfYear &&
          quoteUserList.creationDate > firstDateOfYear
        ) {
          this.resultTimeQuotesList.push(quoteUserList);
          this.cptNbDevis++;
          if (quoteUserList.state._id == "5f1025b27b23f59e1bc924bd") {
            this.resultTimeQuotesValidateList.push(quoteUserList);
            this.cptNbDevisValidate++;
          }
          if (!quoteUserList.payment) {
            this.resultTimeQuotesRelaunchList.push(quoteUserList);
            this.cptNbDevisRelaunch++;
          }
        }
      }
    },
    howDay: function () {
      moment.locale("fr");
      return moment().format("dddd D MMM YYYY");
    },
    howMonth: function () {
      moment.locale("fr");
      return moment().format("MMM YYYY");
    },
    howYear: function () {
      moment.locale("fr");
      return moment().format("YYYY");
    },
    selectQuote: function (result) {
      switch (result) {
        case "create": {
          if (!this.quoteUserDetail) {
            document.getElementById("resultQuote").style.display = "block";
            this.quoteUserDetail = true;
            this.quoteValidateDetail = false;
            this.quoteGoalDetail = false;
            this.quoteRelaunchDetail = false;
            this.resultQuotesList = [];
            this.resultQuotesList = this.resultTimeQuotesList;
          } else {
            document.getElementById("resultQuote").style.display = "";
            this.quoteDetail = false;
          }
          break;
        }
        case "validate": {
          if (!this.quoteValidateDetail) {
            document.getElementById("resultQuote").style.display = "block";
            this.quoteDetail = false;
            this.quoteValidateDetail = true;
            this.quoteGoalDetail = false;
            this.quoteRelaunchDetail = false;
            this.resultQuotesList = [];
            this.resultQuotesList = this.resultTimeQuotesValidateList;
          } else {
            document.getElementById("resultQuote").style.display = "";
            this.quoteValidateDetail = false;
          }
          break;
        }
        case "relaunch": {
          if (!this.quoteRelaunchDetail) {
            document.getElementById("resultQuote").style.display = "block";
            this.quoteDetail = false;
            this.quoteValidateDetail = false;
            this.quoteGoalDetail = false;
            this.quoteRelaunchDetail = true;
            this.resultQuotesList = [];
            this.resultQuotesList = this.resultTimeQuotesRelaunchList;
          } else {
            document.getElementById("resultQuote").style.display = "";
            this.quoteRelaunchDetail = false;
          }
          break;
        }
        default: {
          break;
        }
      }
    },
  },
  created() {
    console.log("début created dashboard");
    this.statsDay();
    /*this.$store.dispatch("loadShortUserQuotesList", {idUser : this.$store.state.idUser});
            //.then(() => {
              //  console.log("le dispatch loadShortUserQuotesList vient d'être fait");
            //});
            this.$store.dispatch("loadAllUserQuotesList")
            .then(() => {
                console.log("le dispatch loadAllUserQuotesList vient d'être fait");
            });*/
  },
};
</script>

<style lang="scss" scoped>
a {
  color: black;
}
</style>
