<template>
  <div>
    <mq-layout mq="lg">
      <navbar id="navbar" />
    </mq-layout>

    <mq-layout :mq="['md', 'sm']">
      <nav class="main-nav" id="mainNav">
        <burger></burger>
      </nav>
      <sideBar></sideBar>
    </mq-layout>
    <div class="container">
      <div class="row mt-4">
        <div class="col-12 text-center">
          <h1>Bonjour {{ firstname }}</h1>
        </div>
        <div class="col-12 text-center">
          <h3>Aujourd'hui, nous sommes le {{ howDay() }}</h3>
          <br />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <b-card-group deck>
            <router-link class="btn" role="button" to="/devis">
              <b-card
                bg-variant="primary"
                text-variant="white"
                footer="Conception des devis"
                class="text-center"
              >
                <svg
                  width="17em"
                  height="10em"
                  viewBox="0 0 16 16"
                  class="bi bi-house"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
                  />
                </svg>
              </b-card>
            </router-link>
            <router-link class="btn" role="button" to="/configuration">
              <b-card
                bg-variant="danger"
                text-variant="white"
                footer="Configuration des modèles"
                class="text-center"
              >
                <svg
                  width="17em"
                  height="10em"
                  viewBox="0 0 16 16"
                  class="bi bi-gear"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 0 1 4.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 0 1-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 0 1 1.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 0 1 2.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 0 1 2.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 0 1 1.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 0 1-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 0 1 8.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 0 0 1.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 0 0 .52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 0 0-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 0 0-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 0 0-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 0 0-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 0 0 .52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 0 0 1.255-.52l.094-.319z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M8 5.754a2.246 2.246 0 1 0 0 4.492 2.246 2.246 0 0 0 0-4.492zM4.754 8a3.246 3.246 0 1 1 6.492 0 3.246 3.246 0 0 1-6.492 0z"
                  />
                </svg>
              </b-card>
            </router-link>
            <router-link class="btn" role="button" to="/paiement">
              <b-card
                bg-variant="success"
                text-variant="white"
                footer="Suivi des commandes"
                class="text-center"
              >
                <svg
                  width="17em"
                  height="10em"
                  viewBox="0 0 16 16"
                  class="bi bi-file-text"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M4.5 10.5A.5.5 0 0 1 5 10h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"
                  />
                </svg>
              </b-card>
            </router-link>
          </b-card-group>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import navbar from "../components/_navBar";
import burger from "../components/_burger";
import sideBar from "../components/_sideBar";

export default {
  components: {
    navbar,
    burger,
    sideBar,
  },
  data() {
    return {
      firstname: localStorage.firstname,
    };
  },
  props: ["title"],
  methods: {
    howDay: function () {
      moment.locale("fr");
      return moment().format("dddd D MMM YYYY");
    },
  },
  created() {
    //Affichage de la barre de navigation

    if (document.getElementById("navbar")) {
      document.getElementById("navbar").style.display = "";
    }
    if (document.getElementById("burger")) {
      document.getElementById("burger").style.display = "";
    }
  },
};
</script>

<style lang="scss" scoped>
a {
  color: white;
}
a:hover {
  color: black;
}
</style>
