<template>
  <div>
    <mq-layout mq="lg">
      <navbar id="navbar" />
    </mq-layout>

    <mq-layout :mq="['md', 'sm']">
      <nav class="main-nav" id="mainNav">
        <burger></burger>
      </nav>
      <sideBar></sideBar>
    </mq-layout>
    <div class="container">
      <div class="row mt-4">
        <h2 class="m-auto">Paiement et évolution des devis</h2>
      </div>
      <div class="row mt-4">
        <b-card class="col-12">
          <b-text>
            <b-form inline>
              <label>Référence </label>
              <b-form-input
                v-model="text"
                placeholder="Entrer une ref"
                class="col-3 ml-2 mr-2"
              ></b-form-input>
              <label>Client </label>
              <b-form-input
                v-model="text"
                placeholder="Entrer un nom"
                class="col-3 ml-2 mr-2"
              ></b-form-input>
              <b-button
                to="/configuration"
                exact
                lg="4"
                pill
                id="btnBlue"
                size="lg"
                class="col-3 ml-2"
                >Rechercher</b-button
              >
            </b-form>
          </b-text>
        </b-card>
      </div>
      <div class="row mt-5">
        <b-table striped hover :fields="fields" :items="paymentList">
          <template v-slot:cell(index)="data">
            {{ data.item._id }}
          </template>
          <template v-slot:cell(customer)="data">
            <b class="text-info"
              >{{ data.item.customer.lastname }}
              {{ data.item.customer.firstname }}</b
            >
          </template>
          <template v-slot:cell(percentage)="data">
            <p v-if="data.item.payment">{{ data.item.payment.percentage }}%</p>
          </template>
          <template v-slot:cell(state)="data">
            <p v-if="data.item.payment">{{ data.item.payment.step }}</p>
          </template>
        </b-table>
      </div>
      <div class="row mt-5">
        <b-button
          to="/"
          exact
          lg="4"
          pill
          id="btnRed"
          size="lg"
          class="offset-2 col-2"
          >Retour</b-button
        >
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import navbar from "../components/_navBar";
import burger from "../components/_burger";
import sideBar from "../components/_sideBar";
export default {
  components: {
    navbar,
    burger,
    sideBar,
  },
  data() {
    return {
      fields: [
        { key: "index", label: "Référence" },
        { key: "customer", label: "Client" },
        { key: "percentage", label: "Paiement" },
        { key: "state", label: "Etat" },
      ],
    };
  },
  created() {
    this.$store.dispatch("loadPaymentList").then(() => {
      console.log("le dispatch vient d'être fait");
    });
  },
  computed: {
    ...mapState(["paymentList"]),
    ...mapGetters(["getPaymentList"]),
  },
};
</script>

<style lang="scss" scoped>
a {
  color: white;
}
</style>