<template>
<div>
  <mq-layout mq="lg">
      <navbar id="navbar" />
    </mq-layout>

    <mq-layout :mq="['md', 'sm']">
      <nav class="main-nav" id="mainNav">
        <burger></burger>
      </nav>
      <sideBar></sideBar>
    </mq-layout>
  <div id="mainQuote" class="p-1">
    <div class="w-75 mx-auto mt-2">
      <b-card class="mb-1">
        <div class="w-100">
          <b-form @submit.prevent="research()" inline>
            <b-row class="col-10">
              <label class="col-2">Téléphone</label>
              <b-form-input
                v-model="search_phone"
                placeholder="Entrer un numéro"
                class="col-3"
              ></b-form-input>
              <label class="col-1">Nom</label>
              <model-select
                v-model="selectedName"
                :options="optionsName"
                class="col-2"
                placeholder="Nom"
              ></model-select>
            </b-row>
            <b-row class="col-2 justify-content-center">
              <b-button
                class="justify-content-center"
                id="btnGreen"
                type="submit"
                pill
                >Rechercher</b-button
              >
            </b-row>
          </b-form>
          <b-alert
            class="mt-1"
            :show="showDismissibleAlert"
            dismissible
            @dismissed="showDismissibleAlert = 0"
            @dismiss-count-down="countDownChanged"
            >{{ error }}</b-alert
          >
        </div>
      </b-card>
    </div>
    <div class="w-75 mx-auto mt-3 mb-3">
      <b-overlay
        :show="show"
        rounded="sm"
        :aria-hidden="show ? 'true' : null"
        class="w-100 mx-auto"
      >
        <b-card class="w-100 mx-auto">
          <b-button v-on:click="QuoteCreate()" id="btnGreen" class="mb-3" pill
            >Nouveau devis</b-button
          >
          <template v-slot:header>
            <b-nav card-header tabs class="onglet">
              <b-nav-item
                v-on:click="popProgressItems()"
                v-bind:active="quoteInProgress"
                >Devis en cours</b-nav-item
              >
              <b-nav-item
                v-on:click="popValidateItems()"
                v-bind:active="quoteValidate"
                >Devis validés</b-nav-item
              >
              <b-nav-item
                v-on:click="popResearchItems()"
                v-bind:active="quoteResearch"
                >Devis recherchés</b-nav-item
              >
            </b-nav>
          </template>
          <b-row class="ml-2 mr-2 mb-2">
            <b-table
              class="col-12 mx-auto"
              bordered
              striped
              id="quote-table"
              :fields="fields"
              :items="items"
              :per-page="perPage"
              :current-page="currentPage"
            >
              <template v-slot:cell(reference)="data">
                {{ data.item.reference }}
              </template>
              <template v-slot:cell(customer)="data">
                <b style="color: #388e3c"
                  >{{ data.item.customer.lastname }}
                  {{ data.item.customer.firstname }}</b
                >
              </template>
              <template v-slot:cell(phone)="data">
                {{ data.item.customer.phoneNumber }}
              </template>
              <template v-slot:cell(creationDate)="data">
                {{ data.item.creationDate | moment("DD/MM/YYYY") }}
              </template>
              <template v-slot:cell(action)="data">
                <svg
                  width="1.3em"
                  height="1.3em"
                  viewBox="0 0 16 16"
                  class="bi bi-download mr-4"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                  v-on:click="download(data.item)"
                >
                  <path
                    fill-rule="evenodd"
                    d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"
                  />
                </svg>

                <svg
                  width="1.3em"
                  height="1.3em"
                  viewBox="0 0 16 16"
                  class="bi bi-pencil mr-4"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                  v-on:click="modify(data.item)"
                >
                  <path
                    fill-rule="evenodd"
                    d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"
                  />
                </svg>

                <svg
                  width="1.3em"
                  height="1.3em"
                  viewBox="0 0 16 16"
                  class="bi bi-trash-fill"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                  v-on:click="erase(data.item)"
                >
                  <path
                    fill-rule="evenodd"
                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"
                  />
                </svg>
              </template>
            </b-table>
          </b-row>
          <div class="w-75 d-flex justify-content-around">
            <b-pagination
              v-model="currentPage"
              :total-rows="rows"
              :per-page="perPage"
              first-text="Début"
              prev-text="Précédent"
              next-text="Suivant"
              last-text="Dernier"
              aria-controls="quote-table"
            ></b-pagination>
          </div>
          <b-modal hide-footer v-model="modalShow">
            <p class="col-10 mx-auto my-4">
              Etes-vous sur de vouloir supprimer ce devis ?
            </p>
            <b-button
              class="col-4 mt-2 ml-5 mr-5"
              id="btnGreen"
              @click="close()"
              >Annuler</b-button
            >
            <b-button class="col-4 mt-2" id="btnRed" @click="eraseConfirm()"
              >Confirmer</b-button
            >
          </b-modal>
        </b-card>
      </b-overlay>
    </div>
  </div>
</div>
</template>

<script>
import { ModelSelect } from "vue-search-select";
import { mapState } from "vuex";
import navbar from "../components/_navBar";
import burger from "../components/_burger";
import sideBar from "../components/_sideBar";

export default {
  name: "mainQuote",
  components: {
    ModelSelect,
    navbar,
    burger,
    sideBar,
  },
  data() {
    return {
      search_phone: "",
      optionsName: [],
      selectedName: null,
      optionsType: [
        { value: "1", text: "Tous les devis" },
        { value: "2", text: "Les devis en cours" },
        { value: "3", text: "Les devis validés" },
      ],
      selectedType: null,
      ref: "",
      name: "",
      phoneNumber: "",
      email: "",
      error: "",
      regexNumber: "/[0-9]/",
      perPage: 5,
      currentPage: 1,
      items: [],
      fields: [
        { key: "reference", label: "Référence" },
        { key: "name", label: "Nom du Projet" },
        { key: "creationDate", label: "Date modification" },
        { key: "customer", label: "Nom du client" },
        { key: "phone", label: "Téléphone" },
        { key: "action", label: "Action" },
      ],
      showDismissibleAlert: 0,
      dismissSecs: 10,
      show: false,
      quoteInProgress: true,
      quoteValidate: false,
      quoteResearch: false,
      modalShow: false,
      projectId: "",
    };
  },
  created() {
    this.$store.state.Product = [];
    this.$store.state.Module = [];
    this.$store.state.Component = [];
    this.LoadAllUserQuotes();
    this.researchName();
  },
  computed: {
    ...mapState([
      "ProgressQuoteUserList",
      "ValidateQuoteUserList",
      "ResearchQuoteUserList",
    ]),
    rows() {
      return this.items.length;
    },
  },
  methods: {
    async LoadAllUserQuotes() {
      //await this.$store.dispatch("loadAllUserQuotesList");
      await this.$store.dispatch("loadAllUserProgressQuotesList");
      await this.$store.dispatch("loadAllUserValidateQuotesList");
      this.items = this.$store.state.ProgressQuoteUserList;
      this.show = false;
    },
    async research() {
      console.log("on rentre dans la fonction recherche");
      if (!this.controlNumber() || !this.control10Number()) {
        //this.error = "Erreur de saisie du numéro de téléphone";
        this.showDismissibleAlert = this.dismissSecs;
      } else {
        console.log("on fait la recherche avec le numéro");
        await this.$store.dispatch("quoteResearchQuoteByPhoneNumber", {
          phoneNumber: this.search_phone,
          //name : this.selectedName,
        });
        this.items = this.$store.state.ResearchQuoteUserList;
      }
      /*if(this.search_phone == ""){
        this.search_phone = " ";
      }*/
    },
    async researchName() {
      /*console.log(this.selectedName.length);
      if (this.selectedName.length == 3){
        await this.$store.dispatch("getAllCustomerName", {
          namePart : this.selectedName,
        });
        this.$store.state.CustomerNameList.forEach(name => {
          this.optionsName.push({value : name._id, text : name.lastname});
        });
      }*/
      await this.$store.dispatch("getAllCustomerName");
      this.$store.state.CustomerNameList.forEach((name) => {
        this.optionsName.push({ value: name._id, text: name.lastname });
      });
    },
    QuoteCreate: function () {
      this.$store.state.Customer = [];
      this.$store.state.Project = [];
      this.$store.state.Product = [];
      this.$store.state.Module = [];
      this.$store.state.Component = [];
      this.$store.state.Status = "created";
      this.$router.push({ path: "/devis/nouveau" });
    },
    countDownChanged(showDismissibleAlert) {
      this.showDismissibleAlert = showDismissibleAlert;
    },
    download: function (payload) {
      console.log("download " + payload.reference);
    },
    async modify(payload) {
      console.log("modify");
      console.log(payload);
      this.$store.state.Customer = payload.customer;
      this.$store.state.Project = payload;
      this.$store.state.idProject = payload._id;
      this.$store.state.Status = "modify";
      this.$router.push({ path: "/devis/nouveau" });
    },
    erase: function (payload) {
      this.ref = payload.reference;
      this.modalShow = true;
    },
    async eraseConfirm() {
      await this.$store.dispatch("deleteProject", { reference: this.ref });
      this.LoadAllUserQuotes();
      this.modalShow = false;
    },
    close: function () {
      this.ref = "";
      this.modalShow = false;
    },
    controlNumber: function () {
      if (!/[0-9]/.test(this.search_phone)) {
        this.error =
          "Veuillez saisir un téléphone composée de chiffres uniquement";
        this.showDismissibleAlert = true;
        return false;
      } else {
        return true;
      }
    },
    control10Number: function () {
      var longueur = this.search_phone.length;
      if (longueur != 10) {
        this.error =
          "Veuillez saisir un numéro composée de 10 chiffres uniquement";
        return false;
      } else {
        return true;
      }
    },
    controlName: function () {
      if (/[0-9]/.test(this.name)) {
        this.error =
          "Veuillez saisir un nom de client avec des lettres uniquement";
        this.showDismissibleAlert = true;
        return false;
      } else {
        return true;
      }
    },
    popProgressItems: function () {
      this.items = [];
      this.items = this.$store.state.ProgressQuoteUserList;
      this.quoteInProgress = true;
      this.quoteValidate = false;
      this.quoteResearch = false;
    },
    popValidateItems: function () {
      this.items = [];
      this.items = this.$store.state.ValidateQuoteUserList;
      this.quoteInProgress = false;
      this.quoteValidate = true;
      this.quoteResearch = false;
    },
    popResearchItems: function () {
      this.show = true;
      this.error = "";
      this.items = [];
      this.items = this.$store.state.ResearchQuoteUserList;
      this.quoteInProgress = false;
      this.quoteValidate = false;
      this.quoteResearch = true;
      this.show = false;
    },
  },
};
</script>

<style lang="scss">
.onglet a {
  color: black;
}

.ui.dropdown:not(.button) > .default.text {
  color: #495057;
  font-size: 1rem;
}
.page-item.active .page-link {
  background-color: #388e3c;
  border-color: #135016;
}
</style>
