<template>
<div class="">
  <mq-layout mq="lg">
            <navbar id="navbar"/>
            </mq-layout>

            <mq-layout :mq="['md','sm']">
            <nav class="main-nav" id ="mainNav">
                <burger></burger>
            </nav>
            <sideBar></sideBar>
        </mq-layout>
    <div class="mb-1 mt-2">
       <div  class="text-center">
            <h3>Contacter le support</h3>
      </div>
    </div>
    <div class="mt-1 mb-3">
      <b-card class="w-75 mx-auto">
        <div  class="text-center">
          <b-text>
            <b-form inline>
                <b-row class="col-12 mb-2 mx-auto">
                    <label class="col-2">Adresse mail</label>
                    <b-form-input placeholder="Entrer une adresse mail" class="col-8"></b-form-input>
                </b-row>
                <b-row class="col-12 mb-2 mx-auto">
                    <label class="col-2">Commentaire</label>
                    <b-form-textarea placeholder="Commentaire" rows="10" max-rows="20" class="col-8"></b-form-textarea>
                </b-row>
                <b-row class="col-12 justify-content-center">
                    <div class="col-2">
                        <b-button to="/devis"  id="btnRed" pill>Annuler</b-button>
                    </div>
                    <div class="col-2">
                        <b-button id="btnGreen" type="submit" pill>Envoyer</b-button>
                    </div>
                </b-row>
            </b-form>
          </b-text>
        </div>
      </b-card>
    </div>
  </div>
</template>

<script>
import navbar from '../components/_navBar'
import burger from '../components/_burger'
import sideBar from '../components/_sideBar'

    export default {
    name: 'support',
    components: {
    navbar,
    burger,
    sideBar
  },
  }
</script>

<style lang="scss">
</style>
