<template>
  <div>
    <div id="progressBar" class="w-75 ml-5 p-2 m-1" >
      <b-progress v-if="this.current == 'info'" :value="0" :max="100" variant="success" class="ml-5"></b-progress>
      <b-progress v-if="this.current == 'options'" :value="50" :max="100" class="ml-5"></b-progress>
      <b-progress v-if="this.current == 'bilan'" :value="100" :max="100" class="ml-5"></b-progress>
    </div>
    <div id="breadcrumb" class="d-flex justify-content-around w-100">
      <div v-if="this.current == 'info' || this.current == 'options' || this.current == 'bilan'" id="buttonbreadcrumb" class="border  rounded-pill p-2 text-center">
        Informations client
      </div>

      <div v-if="this.current == 'options' || this.current == 'bilan'" id="buttonbreadcrumb" class="border  rounded-pill p-2 text-center">
        Options devis
      </div>
      <div v-else class="border  rounded-pill p-2 text-center" style="width: 20%; background-color:whitesmoke;" >
        Options devis
      </div>

      <div v-if="this.current == 'bilan'" id="buttonbreadcrumb" class="border rounded-pill p-2 text-center" >
        Récapitulatif
      </div>
      <div v-else class="border rounded-pill p-2 text-center" style="width: 20%; background-color:whitesmoke;">
        Récapitulatif
      </div>
    </div>
    
    
  </div>
</template>

<script>
export default {
  name: "breadcrumb",
  props: ["current"]
};
</script>

<style>
.progress-bar{
  background-color: #388e3c;
}
#buttonbreadcrumb{
  width: 20%;
  background-color: #388e3c;
  color:#c8e6c9;
  font-weight: bold;
  border-color: #135016 !important;
}
#breadcrumb{
  z-index:1;
  position:relative ;
}
#progressBar{
  z-index:0;
  position: absolute;
}
</style>
