<template>
  <div class="container-fluid">
    <div class="row">
      <div id="nav" class="col-sm-10">
        <b-nav>
          <b-nav-item active>
            <router-link id="buttonMadera" class="btn" role="button" to="/"
              >MADERA</router-link
            >
          </b-nav-item>
          <b-nav-item>
            <router-link class="btn" role="button" to="/devis"
              >Conception</router-link
            >
          </b-nav-item>
          <b-nav-item>
            <router-link class="btn" role="button" to="/configuration"
              >Configuration</router-link
            >
          </b-nav-item>
          <b-nav-item>
            <router-link class="btn" role="button" to="/paiement"
              >Suivi</router-link
            >
          </b-nav-item>
          <b-nav-item>
            <router-link class="btn" role="button" to="/synthese"
              >Synthese</router-link
            >
          </b-nav-item>
        </b-nav>
      </div>
      <div id="nav" class="col-sm-2">
        <b-nav class="d-flex justify-content-end">
          <b-nav-item>
            <router-link class="btn" role="button" to="/support">
              <svg
                width="1.3em"
                height="1.3em"
                viewBox="0 0 16 16"
                class="bi bi-headset"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 1a5 5 0 0 0-5 5v4.5H2V6a6 6 0 1 1 12 0v4.5h-1V6a5 5 0 0 0-5-5z"
                />
                <path
                  d="M11 8a1 1 0 0 1 1-1h2v4a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V8zM5 8a1 1 0 0 0-1-1H2v4a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V8z"
                />
                <path
                  fill-rule="evenodd"
                  d="M13.5 8.5a.5.5 0 0 1 .5.5v3a2.5 2.5 0 0 1-2.5 2.5H8a.5.5 0 0 1 0-1h3.5A1.5 1.5 0 0 0 13 12V9a.5.5 0 0 1 .5-.5z"
                />
                <path
                  d="M6.5 14a1 1 0 0 1 1-1h1a1 1 0 1 1 0 2h-1a1 1 0 0 1-1-1z"
                />
              </svg>
            </router-link>
          </b-nav-item>
          <b-nav-item>
            <a class="btn" role="button" @click="logout()">
              <svg
                width="1.3em"
                height="1.3em"
                viewBox="0 0 16 16"
                class="bi bi-box-arrow-right"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"
                />
                <path
                  fill-rule="evenodd"
                  d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                />
              </svg>
            </a>
          </b-nav-item>
        </b-nav>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NavBar",
  methods: {
    logout: function () {
      this.$store.dispatch("auth_logout").then(() => {
        this.$router.push("/login");
      });
    },
  },
};
</script>

<style lang="scss">
* {
  padding: 0;
  margin: 0;
}

#nav {
  padding: 5px;
  text-align: left;
  background-color: #388e3c;

  #buttonMadera {
    font-weight: bold;
    color: #c8e6c9;
    font-size: 30px;
    text-decoration: none;
    line-height: 1;
  }

  a {
    color: #a5d6a7;
    font-size: 25px;
    text-decoration: none;

    .btn:focus {
      box-shadow: none !important;
    }

    &.router-link-exact-active {
      font-weight: bold;
      color: #a5d6a7;
      font-size: 25px;
    }
  }
}
</style>
