<template>
    <div class="w-100 ml-5 p-2 m-2">
      <b-progress :value="this.current" :max="100" class="ml-5"></b-progress>
    </div>
</template>

<script>
export default {
  name: "progressBar",
  props: ["current"],
};
</script>

<style>
.progress{
  width: 70%;
}
</style>
