<template>
    <div class="row mt-5">
        <b-card class="col-12">
            <b-text>
                <b-form inline class="text-center">
                    <label>{{ researchInput1 }} </label>
                    <b-form-input v-model="text" placeholder="Entrer un nom" class="col-3 ml-2 mr-5"></b-form-input>
                    <label v-if="rechercheInput2">{{ rechercheInput2 }} </label>
                    <b-form-input v-if="rechercheInput2" v-model="text" placeholder="Entrer une gamme" class="col-3 ml-2 mr-5"></b-form-input>
                    <router-link to="/configuration" exact class="col-3 ml-2">
                        <b-button lg="4" pill variant="danger" size="lg">Rechercher</b-button>
                    </router-link>
                </b-form> 
            </b-text>
        </b-card>
    </div>
</template>

<script>
    export default {

        props: ['title','rechercheInput1', 'rechercheInput2'],
        data(){
            return{
                researchInput1: this.rechercheInput1
            }
        },
    }
</script>

<style lang="scss" scoped>
    a {color:white;}
</style>