<template>
  <div class="sidebar">
    <div
      class="sidebar-backdrop"
      @click="closeSidebarPanel"
      v-if="isPanelOpen"
    ></div>
    <transition name="slide">
      <div v-if="isPanelOpen" class="sidebar-panel">
        <ul class="sidebar-panel-nav">
          <li>
            <button id="buttonMadera">
              <router-link class="btn" role="button" to="/">MADERA</router-link>
            </button>
          </li>
          <li>
            <button id="button">
              <router-link class="btn" role="button" to="/devis"
                >Conception</router-link
              >
            </button>
          </li>
          <li>
            <button id="button">
              <router-link class="btn" role="button" to="/configuration"
                >Configuration</router-link
              >
            </button>
          </li>
          <li>
            <button id="button">
              <router-link class="btn" role="button" to="/paiement"
                >Suivi</router-link
              >
            </button>
          </li>
          <li>
            <button id="button">
              <router-link class="btn" role="button" to="/synthese"
                >Synthese</router-link
              >
            </button>
          </li>
        </ul>
      </div>
    </transition>
  </div>
</template>

<script>
import { store, mutations } from "@/sidebarburger.js";

export default {
  methods: {
    closeSidebarPanel: mutations.toggleNav,
  },
  computed: {
    isPanelOpen() {
      return store.isNavOpen;
    },
  },
};
</script>

<style lang="scss">
.slide-enter-active,
.slide-leave-active {
  transition: transform 0.2s ease;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(-100%);
  transition: all 150ms ease-in 0s;
}

.sidebar-backdrop {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}

.sidebar-panel {
  overflow-y: auto;
  background-color: #388e3c;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 999;
  padding: 3rem 20px 2rem 0px;
  width: 350px;
}
#buttonMadera {
  margin: 0px 5px 20px 5px;
  border-style: solid;
  border-color: transparent;
  border-radius: 20px;
  background-color: transparent;

  a {
    font-weight: bold;
    color: #c8e6c9;
    font-size: 25px;
    text-decoration: none;
  }
}
#button {
  margin: 15px 5px 20px 5px;
  border-style: solid;
  border-color: transparent;
  border-radius: 20px;
  background-color: transparent;
  a {
    color: #a5d6a7;
    font-size: 20px;
    text-decoration: none;
    &.router-link-exact-active {
      font-weight: bold;
      color: #a5d6a7;
      font-size: 25px;
    }
  }
}

.btn:focus {
  box-shadow: none !important;
}
</style>