<template>
<div>
    <mq-layout mq="lg">
      <navbar id="navbar"/>
    </mq-layout>

    <mq-layout :mq="['md','sm']">
      <nav class="main-nav" id ="mainNav">
        <burger></burger>
      </nav>
      <sideBar></sideBar>
    </mq-layout>
    <div class="container">
        <div class="row">
            <h2 class="m-auto">Paramètres</h2>
        </div>
        <div class="row mt-5">
            <div class="offset-1 col-5">
                <label>Marge entreprise (%)</label>
                <b-form-select v-model="selected" :options="options"></b-form-select>
            </div>
            <div class="offset-1 col-5">
                <label>Marge commercial (%)</label>
                <b-form-select v-model="selected" :options="options"></b-form-select>
            </div>
            <div class="offset-1 col-5">
                <label>T.V.A</label>
                <b-form-select v-model="selected" :options="options"></b-form-select>
            </div>
        </div>
        <div class="row mt-5">
            <router-link to="/configuration" exact class="offset-3">
                <b-button lg="4" pill id="btnRed" size="lg">Retour</b-button>
            </router-link>
            <router-link to="/configuration" exact class="offset-3 col-2">
                <b-button lg="4" pill id="btnGreen" size="lg">Modifier</b-button>
            </router-link>
        </div>
    </div>
</div>
</template>

<script>
import navbar from '../../components/_navBar'
import burger from '../../components/_burger'
import sideBar from '../../components/_sideBar'

    export default {
        components: {
            navbar,
            burger,
            sideBar
        },
    }
</script>

<style lang="scss" scoped>
    a {color:white;}
</style>