<template>
  <div id="app">
    <router-view />
  </div>
</template>
<script>
export default {
  name: "app",
  mounted() {
    window.onbeforeunload = function () {
      var storage = localStorage;
      storage.clear();
    };
  },
};
</script>
<style lang="scss">
* {
  padding: 0px;
  margin: 0px;
}
html {
  overflow: hidden;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
#btnGreen {
  background-color: #388e3c;
  border-color: #135016 !important;
}
#btnRed {
  background-color: #8e383c;
  border-color: #501316 !important;
}
#btnBlue {
  background-color: #0a0fba;
  border-color: #0a0a8c !important;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-nav {
  display: flex;
  padding: 0.5rem 0.8rem;
  background-color: #388e3c;
}

ul.sidebar-panel-nav {
  list-style-type: none;
}
</style>
