<template>
  <div>
    <mq-layout mq="lg">
      <navbar id="navbar" />
    </mq-layout>

    <mq-layout :mq="['md', 'sm']">
      <nav class="main-nav" id="mainNav">
        <burger></burger>
      </nav>
      <sideBar></sideBar>
    </mq-layout>
    <div class="p-1">
      <div class="mb-1 mt-2">
        <b-card class="w-75 mx-auto">
          <breadcrumb current="info" />
        </b-card>
      </div>
      <div class="w-75 mx-auto">
        <b-card>
          <b-form @submit.prevent="submit()">
            <b-row class="row m-0 mb-2">
              <b-col cols="12" text>
                <h3>Informations personnelles</h3>
                <b-alert
                  class="mt-1"
                  :show="showDismissibleAlert"
                  dismissible
                  @dismissed="showDismissibleAlert = 0"
                  @dismiss-count-down="countDownChanged"
                  >{{ error }}</b-alert
                >
              </b-col>
            </b-row>
            <b-row class="col-12 mb-2">
              <label class="col-2">Civilité</label>
              <model-select
                v-model="cli_civility"
                :options="optionsCiv"
                class="col-4"
                placeholder="Sélectionner une civilité"
                required
              ></model-select>
              <label class="col-2" hidden>Id</label>
              <b-form-input
                v-model="cli_id"
                class="col-4"
                hidden
              ></b-form-input>
            </b-row>
            <b-row class="col-12 mb-2">
              <label class="col-2">Nom</label>
              <b-form-input
                v-model="cli_name"
                placeholder="Entrer un nom"
                class="col-4"
                required
              ></b-form-input>
              <label class="col-2">Prénom</label>
              <b-form-input
                v-model="cli_firstname"
                placeholder="Entrer un prénom"
                class="col-4"
                required
              ></b-form-input>
            </b-row>
            <b-row class="col-12 mb-2">
              <label class="col-2">Adresse</label>
              <b-form-input
                v-model="cli_address"
                placeholder="Entrer une adresse"
                class="col-4"
                required
              ></b-form-input>
              <label class="col-2">Complément</label>
              <b-form-input
                v-model="cli_compaddress"
                placeholder="Entrer un complément"
                class="col-4"
              ></b-form-input>
            </b-row>
            <b-row class="col-12 mb-2">
              <label class="col-2">Code Postal</label>
              <b-form-input
                v-model="cli_cp"
                placeholder="Entrer un code postal"
                class="col-4"
                required
              ></b-form-input>
              <label class="col-2">Ville</label>
              <b-form-input
                v-model="cli_city"
                placeholder="Entrer une ville"
                class="col-4"
                required
              ></b-form-input>
            </b-row>
            <b-row class="col-12 mb-3">
              <label class="col-2">Téléphone</label>
              <b-form-input
                v-model="cli_phone"
                placeholder="Entrer un numéro"
                class="col-4"
                required
              ></b-form-input>
              <label class="col-2">Mail</label>
              <b-form-input
                v-model="cli_mail"
                placeholder="Entrer une adresse mail"
                class="col-4"
                required
              ></b-form-input>
            </b-row>
            <b-row class="col-12 justify-content-center">
              <div class="col-2">
                <b-button to="/devis" id="btnRed" pill>Retour</b-button>
              </div>
              <div class="col-2">
                <b-button id="btnGreen" type="submit" pill>Suivant</b-button>
              </div>
            </b-row>
          </b-form>
        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import { ModelSelect } from "vue-search-select";
import breadcrumb from "../../components/_breadcrumb";

import navbar from "../../components/_navBar";
import burger from "../../components/_burger";
import sideBar from "../../components/_sideBar";

export default {
  name: "quoteInformation",
  components: {
    breadcrumb,
    ModelSelect,
    navbar,
    burger,
    sideBar,
  },
  data: function () {
    return {
      statusQuote: "",
      error: "",
      showDismissibleAlert: 0,
      dismissSecs: 10,
      show: false,
      Customer: [],
      cli_id: "",
      cli_civility: null,
      optionsCiv: [
        { value: "1", text: "Mr" },
        { value: "2", text: "Mme" },
        { value: "3", text: "Mlle" },
      ],
      cli_name: "",
      cli_firstname: "",
      cli_address: "",
      cli_compaddress: "",
      cli_cp: "",
      cli_city: "",
      cli_phone: "",
      cli_mail: "",
    };
  },
  created() {
    this.statusQuote = this.$store.state.Status;
    if (this.$store.state.Customer != []) {
      this.Customer = this.$store.state.Customer;
      this.cli_id = this.Customer._id;
      this.cli_civility = this.Customer.civility;
      this.cli_name = this.Customer.lastname;
      this.cli_firstname = this.Customer.firstname;
      this.cli_address = this.Customer.address;
      this.cli_compaddress = this.Customer.compaddress;
      this.cli_cp = this.Customer.postalcode;
      this.cli_city = this.Customer.city;
      this.cli_phone = this.Customer.phoneNumber;
      this.cli_mail = this.Customer.emailAddress;
    }
  },
  methods: {
    submit: function () {
      var control = this.UpdateControl();
      if (control == "modify") {
        if (
          !this.controlNumber() ||
          !this.controlLetter() ||
          !this.controlEmail()
        ) {
          this.showDismissibleAlert = this.dismissSecs;
        } else {
          this.$store
            .dispatch("quoteSaveInformation", {
              status: this.statusQuote,
              id: this.cli_id,
              civ: this.cli_civility,
              name: this.cli_name,
              firstname: this.cli_firstname,
              address: this.cli_address,
              compaddress: this.cli_compaddress,
              cp: this.cli_cp,
              city: this.cli_city,
              phonenumber: this.cli_phone,
              mail: this.cli_mail,
            })
            .then(() => {
              this.$router.push("/devis/options");
            });
        }
      } else {
        console.log("pas de mise à jour");
        this.$router.push("/devis/options");
      }
    },
    UpdateControl: function () {
      console.log("UpdateCustomerControl");
      if (this.cli_id != this.Customer._id) {
        console.log(this.cli_id);
        console.log(this.Customer._id);
        return "modify";
      } else if (this.cli_civility != this.Customer.civility) {
        console.log(this.cli_civility);
        console.log(this.Customer.civility);
        return "modify";
      } else if (this.cli_name != this.Customer.lastname) {
        console.log(this.cli_name);
        console.log(this.Customer.lastname);
        return "modify";
      } else if (this.cli_firstname != this.Customer.firstname) {
        console.log(this.cli_firstname);
        console.log(this.Customer.firstname);
        return "modify";
      } else if (this.cli_address != this.Customer.address) {
        console.log(this.cli_address);
        console.log(this.Customer.address);
        return "modify";
      } else if (this.cli_compaddress != this.Customer.compaddress) {
        console.log(this.cli_compaddress);
        console.log(this.Customer.compaddress);
        return "modify";
      } else if (this.cli_cp != this.Customer.postalcode) {
        console.log(this.cli_cp);
        console.log(this.Customer.postalcode);
        return "modify";
      } else if (this.cli_city != this.Customer.city) {
        console.log(this.cli_city);
        console.log(this.Customer.city);
        return "modify";
      } else if (this.cli_phone != this.Customer.phoneNumber) {
        console.log(this.cli_phone);
        console.log(this.Customer.phoneNumber);
        return "modify";
      } else if (this.cli_mail != this.Customer.emailAddress) {
        console.log(this.cli_mail);
        console.log(this.Customer.emailAddress);
        return "modify";
      } else {
        return "not_modified";
      }
    },
    countDownChanged(showDismissibleAlert) {
      this.showDismissibleAlert = showDismissibleAlert;
    },
    controlNumber: function () {
      if (/[a-zA-Z]/.test(this.cli_phone) || (this.cli_phone.length != 10 && /[0-9]/.test(this.cli_phone))) {
        this.error =
          "Veuillez saisir un numéro composée de 10 chiffres uniquement";
        return false;
      } else if (!/[0-9]/.test(this.cli_cp) || this.cli_cp.length != 5) {
        this.error =
          "Veuillez saisir un code postal composée de 5 chiffres uniquement";
        return false;
      } else {
        return true;
      }
    },
    controlLetter: function () {
      if (/[0-9]/.test(this.cli_name)) {
        this.error =
          "Veuillez saisir un nom de client avec des lettres uniquement";
        this.showDismissibleAlert = true;
        return false;
      } else if (/[0-9]/.test(this.cli_firstname)) {
        this.error =
          "Veuillez saisir un prénom de client avec des lettres uniquement";
        this.showDismissibleAlert = true;
        return false;
      } else if (/[0-9]/.test(this.cli_city)) {
        this.error =
          "Veuillez saisir un nom de ville avec des lettres uniquement";
        this.showDismissibleAlert = true;
        return false;
      } else {
        return true;
      }
    },
    controlEmail: function () {
      if (!/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(this.cli_mail)) {
        this.error = "Veuillez saisir un email valide";
        this.showDismissibleAlert = true;
        return false;
      } else {
        return true;
      }
    }
  },
};
</script>
<style  lang="scss">
.ui.dropdown:not(.button) > .default.text {
  color: #495057;
  font-size: 1rem;
}
</style>
