<template>
<div><mq-layout mq="lg">
      <navbar id="navbar"/>
    </mq-layout>

    <mq-layout :mq="['md','sm']">
      <nav class="main-nav" id ="mainNav">
        <burger></burger>
      </nav>
      <sideBar></sideBar>
    </mq-layout>
  <div class="p-1">
    <div class="mb-1 mt-2">
      <b-card class="w-75 mx-auto">
        <breadcrumb current="options"/>
      </b-card>
    </div>
    <div class="w-75 mx-auto">
        <b-card>
          <div id="options">
            <div class="px-2 py-2 col-12 border mx-auto">
                <div class="d-flex justify-content-between p-0 m-0">
                  <p class="m-0 h3">Adresse de construction</p>
                  <b-button v-b-toggle.accordionAdresse variant="white" class="p-0 m-0 h3">
                    <b-icon-caret-down-square class="m-0 p-0 h-auto"></b-icon-caret-down-square>
                  </b-button>
                </div>
                <b-collapse id="accordionAdresse" accordion="optionsAccordion">
                  <hr/>
                  <b-form @submit.prevent="submitAddress()">
                    <b-row class="col-12 mb-2">
                      <b-alert class="mt-1" :show="showDismissibleAlert" dismissible @dismissed="showDismissibleAlert=0" @dismiss-count-down="countDownChanged">{{ error }}</b-alert>
                      <label class="col-2">Nom projet</label>
                      <b-form-input v-model="projectName" placeholder="Entrer un nom" class="col-4"></b-form-input>
                      <label class="col-2" hidden>Id</label>
                      <b-form-input v-model="projectId" class="col-4" hidden></b-form-input>
                    </b-row>
                    <b-row class="col-12 mb-2">
                      <label class="col-2">Adresse</label>
                      <b-form-input v-model="construct_address" placeholder="Entrer une adresse" class="col-4"></b-form-input>
                      <label class="col-2">Complement</label>
                      <b-form-input v-model="construct_compaddress" placeholder="Entrer un complement" class="col-4"></b-form-input>
                    </b-row>
                    <b-row class="col-12 mb-3">
                      <label class="col-2">Code Postal</label>
                      <b-form-input v-model="construct_cp" placeholder="Entrer un code postal" class="col-4"></b-form-input>
                      <label class="col-2">Ville</label>
                      <b-form-input v-model="construct_city" placeholder="Entrer une ville" class="col-4"></b-form-input>
                    </b-row>
                    <b-row class="col-12 justify-content-center mb-3">
                      <div class="col-10"></div>
                      <div class="col-2">
                        <b-button id="btnGreen" type="submit" pill>Valider</b-button>
                      </div>
                    </b-row>
                  </b-form>
                </b-collapse>
            </div>
            <div class="px-2 py-2 w-100 border mx-auto my-2">
              <div class="d-flex justify-content-between p-0 m-0">
                <p class="m-0 h3">Produits</p>
                <b-button v-b-toggle.accordionProduct variant="white" class="p-0 m-0 h3">
                  <!--<b-icon-caret-down-square class="m-0 p-0 h-auto"  type="submit"></b-icon-caret-down-square>-->
                  <b-icon-caret-down-square class="m-0 p-0 h-auto"></b-icon-caret-down-square>
                </b-button>
              </div>
              
              <b-collapse id="accordionProduct" accordion="optionsAccordion">
                <hr/>
                <b-form @submit.prevent="submitProduct()">
                  <b-row class="col-12 mb-2">
                    <label class="col-2">Nom</label>
                    <b-form-input v-model="productName" placeholder="Entrer un nom" class="col-3"></b-form-input>
                    <label class="col-2">Gamme</label>
                    <model-select v-model="selectedRange" :options="optionsRange" class="col-3" placeholder="Sélectionner une gamme" ></model-select>
                  </b-row>
                  <b-row class="col-12 mb-2">
                    <label class="col-2">Modèle</label>
                    <model-select v-model="selectedModel" :options="optionsModel" class="col-3" placeholder="Sélectionner un modele"></model-select>
                    <label class="col-2">Coupe de principe</label>
                    <model-select v-model="selectedPrincipalCut" :options="optionsPrincipalCut" class="col-3" placeholder="Sélectionner une coupe de principe"></model-select>
                    <div class="col-2">
                      <b-button id="btnGreen" type="submit" pill>Valider</b-button>
                    </div>
                  </b-row>
                </b-form>
                <hr/>
                <b-row class="col-12 mb-2">
                  <div class="mr-1 mb-1" v-for="product in Products" :key="product._id">
                      <b-button :key="product._id" variant="secondary" pill>{{ product.name }}</b-button>
                    </div>
                </b-row>
              </b-collapse>
            </div>
            <div class="px-2 py-2 w-100 border mx-auto my-2 ">
              <div class="d-flex justify-content-between">
                <p class="m-0 h3">Modules</p>
                <b-button v-b-toggle.accordionModules variant="white" class="p-0 m-0 h3">
                  <b-icon-caret-down-square class="m-0 p-0 h-auto"></b-icon-caret-down-square>
                </b-button>
              </div>
              <b-collapse id="accordionModules" accordion="optionsAccordion">
                <hr />
                <b-form @submit.prevent="submitModule()">
                  <b-row class="col-12 mb-2">
                    <label class="col-2">Nom</label>
                    <b-form-input v-model="moduleName" placeholder="Entrer un nom" class="col-3"></b-form-input>
                    <label class="col-2">Section</label>
                    <model-select v-model="selectedSection" :options="optionsSection" class="col-3" placeholder="Sélectionner une section" ></model-select>
                  </b-row>
                  <b-row class="col-12 mb-2">
                    <label class="col-2">Longeur<strong> en mètre(s)</strong></label>
                    <b-form-input v-model="moduleLength" placeholder="Entrer une longeur" class="col-3"></b-form-input>
                    <label class="col-2">Angle</label>
                    <model-select v-model="selectedCorner" :options="optionsCorner" class="col-3" placeholder="Sélectionner un angle" ></model-select>
                    <div class="col-2">
                      <b-button id="btnGreen" type="submit" pill>Valider</b-button>
                    </div>
                  </b-row>
                </b-form>
                <hr/>
                <b-row class="col-12 mb-2">
                  <div class="mr-1 mb-1" v-for="modul in Modules" :key="modul._id">
                    <b-button variant="secondary" pill>{{ modul.name }}</b-button>
                  </div>
                </b-row>
              </b-collapse>
            </div>
            <div class="px-2 py-2 w-100 border mx-auto my-2">
              <div class="d-flex justify-content-between p-0 m-0">
                <p class="m-0 h3">Composants devis</p>
                <b-button v-b-toggle.accordionComposants variant="white" class="p-0 m-0 h3">
                  <b-icon-caret-down-square class="m-0 p-0 h-auto"></b-icon-caret-down-square>
                </b-button>
              </div>
              <!--<b-collapse id="accordionComposants" accordion="optionsAccordion" :click="initComponent()">-->
              <b-collapse id="accordionComposants" accordion="optionsAccordion">
                <hr />
                <b-form @submit.prevent="submitComposant()">
                  <b-row class="col-12 mb-2">
                    <label class="col-2">Nom</label>
                    <b-form-input v-model="componentName" placeholder="Entrer un nom" class="col-3"></b-form-input>
                    <label class="col-2" hidden>Id</label>
                    <b-form-input v-model="componentId" class="col-4" hidden></b-form-input>
                  </b-row>
                  <b-row class="col-12 mb-2">
                    <label class="col-2">Produit</label>
                    <model-select v-model="selectedProduct" :options="optionsProducts" class="col-3" placeholder="Sélectionner un produit"></model-select>
                    <label class="col-2">Module</label>
                    <model-select v-model="selectedModule" :options="optionsModules" class="col-3" placeholder="Sélectionner un module"></model-select>
                    <div class="col-2">
                      <b-button id="btnGreen" type="submit" pill>Valider</b-button>
                    </div>
                  </b-row>
                </b-form>
                <hr/>
                <b-row class="col-12 mb-2">
                  <div class="mr-1 mb-1" v-for="component in Component" :key="component._id">
                    <b-button v-on:click="modifyComponent(component)" variant="secondary" pill>{{ component.name }}</b-button>
                  </div>
                </b-row>
                <hr />
                <div class="row">
                  <div class="col-3" style="margin-left:5px;">
                    <div class="col-8 d-flex justify-content-sm-center" style="margin-left:5px;">
                      <label>Position</label>
                    </div>
                    <br>
                    <div class="col-8 d-flex justify-content-sm-center" style="margin-left:5px; margin-top: -20px">
                      <b-button v-on:click="boxTop()" class="btnBoxPosition"><b-icon icon="caret-up-fill"></b-icon></b-button>
                    </div>
                    <br>
                    <div class="col-8 d-flex justify-content-sm-center" style="margin-left:5px; margin-top: -20px">
                      <b-button v-on:click="boxLeft()" class="btnBoxPosition"><b-icon icon="caret-left-fill"></b-icon></b-button>
                      <b-button v-on:click="boxBottom()" class="btnBoxPosition"><b-icon icon="caret-down-fill"></b-icon></b-button>
                      <b-button v-on:click="boxRight()" class="btnBoxPosition"><b-icon icon="caret-right-fill"></b-icon></b-button>
                    </div>
                  </div>
                  <div class="col-1">
                    <div class="col-8 d-flex justify-content-sm-center">
                      <label>Longeur</label>
                    </div>
                    <div class="col-8 d-flex justify-content-sm-center">
                      <b-button v-on:click="boxLengthPlus()" class="btnBoxPosition"><strong>+</strong></b-button>
                      <b-button v-on:click="boxLengthMoin()" class="btnBoxPosition"><strong>-</strong></b-button>
                    </div>
                    <div class="col-8 d-flex justify-content-sm-center">
                      <b-button v-on:click="boxRotate()" class="btnBoxPosition">Tourner</b-button> 
                    </div>
                  </div> 
                  <div  class="col-7">
                    <div class="col-12 d-flex justify-content-sm-center">
                      <label>Composants</label>
                    </div>
                    <div class="col-12 d-flex justify-content-sm-center">
                      <b-button v-if="Component[0] != undefined" v-on:click="boxToModify('box1')" variant="secondary" pill style="margin-left:2px; margin-top:2px;">{{ Component[0].name }}</b-button>
                      <b-button v-if="Component[1] != undefined" v-on:click="boxToModify('box2')" variant="secondary" pill style="margin-left:2px; margin-top:2px;">{{ Component[1].name }}</b-button>
                      <b-button v-if="Component[2] != undefined" v-on:click="boxToModify('box3')" variant="secondary" pill style="margin-left:2px; margin-top:2px;">{{ Component[2].name }}</b-button>
                      <b-button v-if="Component[3] != undefined" v-on:click="boxToModify('box4')" variant="secondary" pill style="margin-left:2px; margin-top:2px;">{{ Component[3].name }}</b-button>
                      <b-button v-if="Component[4] != undefined" v-on:click="boxToModify('box5')" variant="secondary" pill style="margin-left:2px; margin-top:2px;">{{ Component[4].name }}</b-button>
                      <b-button v-if="Component[5] != undefined" v-on:click="boxToModify('box6')" variant="secondary" pill style="margin-left:2px; margin-top:2px;">{{ Component[5].name }}</b-button>
                      <b-button v-if="Component[6] != undefined" v-on:click="boxToModify('box7')" variant="secondary" pill style="margin-left:2px; margin-top:2px;">{{ Component[6].name }}</b-button>
                      <b-button v-if="Component[7] != undefined" v-on:click="boxToModify('box8')" variant="secondary" pill style="margin-left:2px; margin-top:2px;">{{ Component[7].name }}</b-button>
                    </div>
                  </div>
                </div>
              </b-collapse>
            </div>

            <div id="canvas" touch-action="none">
              <Scene id="myScene" v-model="myScene">
                <Entity v-model="myEntity" id="canvasEntity" :position="[0, 0, 0]">
                <Box v-if="boxvalid1" v-model="myBox1" id="myBox1" :position="[positionLeftBox1, 1, positionRightBox1]" :scaling="[lengthBox1,2.5,widthBox1]">
                  <Material v-model="myMaterial1" diffuse="#A9A9A9" :metallic="0" :roughness="1"></Material>
                </Box>
                <Box v-if="boxvalid2" v-model="myBox2" id="myBox2" :position="[positionLeftBox2, 1, positionRightBox2]" :scaling="[lengthBox2,2.5,widthBox2]">
                  <Material v-model="myMaterial2" diffuse="#A9A9A9" :metallic="0" :roughness="1"></Material>
                </Box>
                <Box v-if="boxvalid3" v-model="myBox3" id="myBox3" :position="[positionLeftBox3, 1, positionRightBox3]" :scaling="[lengthBox3,2.5,widthBox3]">
                  <Material v-model="myMaterial3" diffuse="#A9A9A9" :metallic="0" :roughness="1"></Material>
                </Box>
                <Box v-if="boxvalid4" v-model="myBox4" id="myBox4" :position="[positionLeftBox4, 1, positionRightBox4]" :scaling="[lengthBox4,2.5,widthBox4]">
                  <Material v-model="myMaterial4" diffuse="#A9A9A9" :metallic="0" :roughness="1"></Material>
                </Box>
                <Box v-if="boxvalid5" v-model="myBox5" id="myBox5" :position="[positionLeftBox5, 1, positionRightBox5]" :scaling="[lengthBox5,2.5,widthBox5]">
                  <Material v-model="myMaterial5" diffuse="#A9A9A9" :metallic="0" :roughness="1"></Material>
                </Box>
                <Box v-if="boxvalid6" v-model="myBox6" id="myBox6" :position="[positionLeftBox6, 1, positionRightBox6]" :scaling="[lengthBox6,2.5,widthBox6]">
                  <Material v-model="myMaterial6" diffuse="#A9A9A9" :metallic="0" :roughness="1"></Material>
                </Box>
                <Box v-if="boxvalid7" v-model="myBox7" id="myBox7" :position="[positionLeftBox7, 1, positionRightBox7]" :scaling="[lengthBox7,2.5,widthBox7]">
                  <Material v-model="myMaterial7" diffuse="#A9A9A9" :metallic="0" :roughness="1"></Material>
                </Box>
                <Box v-if="boxvalid8" v-model="myBox8" id="myBox8" :position="[positionLeftBox8, 1, positionRightBox8]" :scaling="[lengthBox8,2.5,widthBox8]">
                  <Material v-model="myMaterial8" diffuse="#A9A9A9" :metallic="0" :roughness="1"></Material>
                </Box>
              </Entity>
              </Scene>
            </div>
          </div>
        <div class="d-flex justify-content-around">
          <b-button to="/devis/information" id="btnRed" pill>Retour</b-button>
          <b-button to="/devis/bilan" id="btnGreen" pill>Suivant</b-button>
        </div>
      </b-card>
    </div>
  </div>
</div>
</template>

<script>
import Vue from 'vue'
Vue.use(require('vue-babylonjs'));
import {Scene, Material, Box, Entity} from 'vue-babylonjs';

import breadcrumb from "../../components/_breadcrumb";
import { ModelSelect } from 'vue-search-select';

import navbar from '../../components/_navBar'
import burger from '../../components/_burger'
import sideBar from '../../components/_sideBar'

export default {
  name: "quoteOptions",
  components: {
    breadcrumb,
    ModelSelect,
    navbar,
    burger,
    sideBar,
    Scene,
    Entity,
    Material,
    Box,
  },
  data(){
    return{
      error : "",
      showDismissibleAlert: 0,
      dismissSecs: 10,
      show: false,
      //partie adresse
      Project:[],
      statusQuote: "",
      projectName:"",
      projectId:"",
      construct_address: "",
      construct_compaddress: "",
      construct_cp:"",
      construct_city:"",
      //partie produit
      Products:[],
      productsId:[],
      productId:"",
      productName:"",
      selectedRange:null,
      optionsRange:[],
      selectedModel:null,
      optionsModel:[],
      selectedPrincipalCut:null,
      optionsPrincipalCut:[
        { value: '1', text: 'Horizontale' },
        { value: '2', text: 'Verticale' },
      ],
      //partie module
      Modules:[],
      modulesId : [],
      moduleId : "",
      moduleName :"",
      moduleLength:"",
      selectedSection : null,
      optionsSection : [
        { value: '1', text: 'Section droite' },
      ],
      selectedCorner : null,
      optionsCorner:[
        { value: '1', text: 'Angle droit' },
        { value: '2', text: 'Angle interne' },
        { value: '3', text: 'Angle externe' },
      ],
      //partie component
      Component:[],
      component:[],
      componentsId: [],
      componentId: "",
      statusComponent: "",
      selectedProduct:null,
      optionsProducts:[],
      selectedModule:null,
      optionsModules:[],
      componentName:"",
      amount: "",
      //partie graphique
      cptBox : 0,
      boxNameToModify: "",
      boxvalid1 : false,
      boxvalid2 : false,
      boxvalid3 : false,
      boxvalid4 : false,
      boxvalid5 : false,
      boxvalid6 : false,
      boxvalid7 : false,
      boxvalid8 : false,
      myScene: null,
      myEntity: null,
      myMaterial1: null,
      myMaterial2: null,
      myMaterial3: null,
      myMaterial4: null,
      myMaterial5: null,
      myMaterial6: null,
      myMaterial7: null,
      myMaterial8: null,
      nbBox: 0,
      myBox: null,
      myBox1: null,
      myBox2: null,
      myBox3: null,
      myBox4: null,
      myBox5: null,
      myBox6: null,
      myBox7: null,
      myBox8: null,
      positionLeftBox1: 0,
      positionRightBox1: -3,
      positionLeftBox2: 3,
      positionRightBox2: 0,
      positionLeftBox3: 0,
      positionRightBox3: 3,
      positionLeftBox4: -3,
      positionRightBox4: 0,
      positionLeftBox5: 0,
      positionRightBox5: 6,
      positionLeftBox6: 1,
      positionRightBox6: 0,
      positionLeftBox7: 3,
      positionRightBox7: 4.5,
      positionLeftBox8: -3,
      positionRightBox8: 4.5,
      lengthBox1: 6,
      widthBox1: 0.2,
      lengthBox2: 0.2,
      widthBox2: 6,
      lengthBox3: 6,
      widthBox3: 0.2,
      lengthBox4: 0.2,
      widthBox4: 6,
      lengthBox5: 6,
      widthBox5: 0.2,
      lengthBox6: 0.2,
      widthBox6: 6,
      lengthBox7: 0.2,
      widthBox7: 3,
      lengthBox8: 0.2,
      widthBox8: -3,
      rotate: true,
    }
  },
  created() {
    this.statusQuote = this.$store.state.Status;
    this.researchRange();
    this.researchModel();
    this.initResearch();
    this.initProduct();
    this.initModules();
  },
  methods:{
    async initResearch(){
      await this.initProject();
      await this.researchProjectProduct();
      await this.researchProjectModules();
      await this.researchProjectComponent();
    },
    initProject:function(){
      if(this.$store.state.Project != []){
        this.Project = this.$store.state.Project;
        this.projectName = this.Project.name;
        this.projectId = this.Project._id;
        this.construct_address = this.Project.buildingAddress;
        this.construct_compaddress = this.Project.buildingCompAddress;
        this.construct_cp = this.Project.buildingPostalCode;
        this.construct_city = this.Project.buildingCity;
      }
    },
    initProduct:function(){
      if(this.$store.state.Product != this.Products){
        this.Products = [];
        this.optionsProducts = [];
        this.Products = this.$store.state.Product;
        for(const key in this.Products){
          this.optionsProducts.push({value: this.Products[key]._id, text: this.Products[key].name})
        }
        /*this.productName = this.Product.name;
        this.productId = this.Product._id;
        this.selectedRange = this.Product.range;
        this.selectedModel = this.Product.model;
        this.selectedPrincipalCut = this.Product.principalcut;*/
      }
    },
    initModules:function(){
      if(this.$store.state.Module != this.Modules){
        this.Modules = [];
        this.optionsModules = [];
        this.Modules = this.$store.state.Module;
        for(const key in this.Modules){
          this.optionsModules.push({value: this.Modules[key]._id, text: this.Modules[key].name})
        }
        /*this.moduleName = this.Module.name;
        this.moduleId = this.Module._id;
        this.moduleLength = this.Module.length;
        this.selectedSection = this.Module.section;
        this.selectedCorner = this.Module.corner;*/
      }
    },
    initComponent:function(){
      if(this.$store.state.Component != this.Component){
        //on initialise à vide
        this.Component = [];
        this.Component = this.$store.state.Component;
        this.componentsId = [];
        for(const key in this.Component){
          this.componentsId.push(this.Component[key]._id);
        }

        //on affiche pour le 3D
        this.cptBox = this.Component.length;
        if (this.cptBox == 0){
          this.boxvalid1 = false;
          this.boxvalid2 = false;
          this.boxvalid3 = false;
          this.boxvalid4 = false;
          this.boxvalid5 = false;
          this.boxvalid6 = false;
          this.boxvalid7 = false;
          this.boxvalid8 = false;
        }
        else if (this.cptBox == 1){
          this.boxvalid1 = true;
          this.boxvalid2 = false;
          this.boxvalid3 = false;
          this.boxvalid4 = false;
          this.boxvalid5 = false;
          this.boxvalid6 = false;
          this.boxvalid7 = false;
          this.boxvalid8 = false;
        }
        else if (this.cptBox == 2){
          this.boxvalid1 = true;
          this.boxvalid2 = true;
          this.boxvalid3 = false;
          this.boxvalid4 = false;
          this.boxvalid5 = false;
          this.boxvalid6 = false;
          this.boxvalid7 = false;
          this.boxvalid8 = false;
        }
        else if (this.cptBox == 3){
          this.boxvalid1 = true;
          this.boxvalid2 = true;
          this.boxvalid3 = true;
          this.boxvalid4 = false;
          this.boxvalid5 = false;
          this.boxvalid6 = false;
          this.boxvalid7 = false;
          this.boxvalid8 = false;
        }
        else if (this.cptBox == 4){
          this.boxvalid1 = true;
          this.boxvalid2 = true;
          this.boxvalid3 = true;
          this.boxvalid4 = true;
          this.boxvalid5 = false;
          this.boxvalid6 = false;
          this.boxvalid7 = false;
          this.boxvalid8 = false;
        }
        else if (this.cptBox == 5){
          this.boxvalid1 = true;
          this.boxvalid2 = true;
          this.boxvalid3 = true;
          this.boxvalid4 = true;
          this.boxvalid5 = true;
          this.boxvalid6 = false;
          this.boxvalid7 = false;
          this.boxvalid8 = false;
        }
        else if (this.cptBox == 6){
          this.boxvalid1 = true;
          this.boxvalid2 = true;
          this.boxvalid3 = true;
          this.boxvalid4 = true;
          this.boxvalid5 = true;
          this.boxvalid6 = true;
          this.boxvalid7 = false;
          this.boxvalid8 = false;
        }
        else if (this.cptBox == 7){
          this.boxvalid1 = true;
          this.boxvalid2 = true;
          this.boxvalid3 = true;
          this.boxvalid4 = true;
          this.boxvalid5 = true;
          this.boxvalid6 = true;
          this.boxvalid7 = true;
          this.boxvalid8 = false;
        }
        else if (this.cptBox >= 8){
          this.boxvalid1 = true;
          this.boxvalid2 = true;
          this.boxvalid3 = true;
          this.boxvalid4 = true;
          this.boxvalid5 = true;
          this.boxvalid6 = true;
          this.boxvalid7 = true;
          this.boxvalid8 = true;
        }
        else {
          console.log('on rentre pas dans le cas d\'un cptBox');
        }
      }
    },
    async researchRange(){
      await this.$store.dispatch("loadRangeList");
      this.$store.state.rangeList.forEach(range => {
          this.optionsRange.push({value : range._id, text : range.name});
      }); 
    },
    async researchModel(){
      await this.$store.dispatch("loadModelList");
      this.$store.state.modelList.forEach(model => {
          this.optionsModel.push({value : model._id, text : model.nature});
      });
    },
    async researchProjectProduct(){
      await this.$store.dispatch("loadQuoteProjectProductList");
      await this.$store.dispatch("loadQuoteProductList");
      await this.initProduct();
    },
    async researchProjectModules(){
      await this.$store.dispatch("loadQuoteProjectModuleList");
      await this.$store.dispatch("loadQuoteModuleList");
      await this.initModules();    
    },
    async researchProjectComponent(){
      await this.$store.dispatch("loadInitComponentList");
      await this.$store.dispatch("loadQuoteComponentList");
      await this.initComponent();
    },
    countDownChanged(showDismissibleAlert){
      this.showDismissibleAlert = showDismissibleAlert
    },
    submitAddress:function(){
      var control = this.UpdateProjectControl();
      if(control == "modify"){
        if((!this.controlNumber()) || (!this.controlConstructCity())){
        this.showDismissibleAlert = this.dismissSecs;
        } else {
          this.$store.dispatch("quoteSaveProject", {
            status: this.statusQuote,
            project_name: this.projectName,
            project_id : this.projectId,
            building_address: this.construct_address,
            building_comp_address: this.construct_compaddress,
            building_postal_code: this.construct_cp,
            building_city: this.construct_city,
          });
        }
      }
    },
    submitProduct:function(){
      //console.log("submit quote options product");
      this.$store.dispatch("quoteSaveProjectProduct", {
        product_name : this.productName,
        range_selected : this.selectedRange,
        model_selected : this.selectedModel,
        principal_cut_selected : this.selectedPrincipalCut,
      })
      this.initResearch();
    },
    submitModule:function(){
     // console.log("submit quote options module");
      this.$store.dispatch("quoteSaveProjectModule", {
        module_name : this.moduleName,
        module_length : this.moduleLength,
        section_selected : this.selectedSection,
        corner_selected : this.selectedCorner,
      })
      this.initResearch();
    },
    async submitComposant(){
      console.log("submit quote options composant");
      var control = "";
      if (this.componentId == ""){
        //console.log('on est sur une création');
        this.statusComponent = "created";
      } else {
        //console.log('on est sur un modify');
        this.statusComponent = "modify";
      }
      control = this.UpdateComponentControl();
      if(control == "modify"){
        //console.log('on entre dans le if control == modify');
        if(!this.controlComponentName()){
        this.showDismissibleAlert = this.dismissSecs;
        } else {
          console.log('on appele action quoteSaveProjectComponent');
          await this.$store.dispatch("quoteSaveProjectComponent", {
            status: this.statusComponent,
            component_id : this.componentId,
            component_name : this.componentName,
            product_selected : this.selectedProduct,
            module_selected : this.selectedModule,
          });

          console.log("*********************************************************************");
          console.log(this.component);
          this.cptBox++;
          //this.optionsModules.push({value: this.Modules[key]._id, text: this.Modules[key].name})
          this.component.push({value: this.component._id, text: this.componentId});
          this.component.push({value: this.component.name, text: this.componentName});
          this.component.push({value: this.component.product._id, text: this.selectedProduct});
          this.component.push({value: this.component.module._id, text: this.selectedModule});

          //on reset les valeurs
          this.componentId = "";
          this.componentName = "";
          console.log("name : " + this.component_name)
          this.vm.selectedProduct = "";
          this.selectedProduct = "";
          this.vm.selectedModule = "";
          this.selectedModule = "";

          //on fait la mise à jour
          console.log('le contenu des champs est enregistré dans un tableau :');
          console.log(this.component);
          this.modifyComponent(this.component)    
          await this.initComponent();
          this.researchProjectComponent();      
        }
      }
      else if(control == "created"){
        console.log("submit quote options composant");
        this.$store.dispatch("quoteSaveProjectComponent", {
          component_name : this.componentName,
          product_selected : this.selectedProduct,
          module_selected : this.selectedModule,
        })
        this.initResearch();
      }
    },
    modifyComponent:function(component){
      console.log(component);
      this.componentName = component.name;
      this.componentId = component._id;
      this.selectedProduct = component.product._id;
      this.selectedModule = component.module._id;
      this.componentAmount = component.amount;
    },
    UpdateProjectControl:function(){
      console.log('UpdateProjectControl')
      if (this.projectName != this.Project.name){console.log(this.projectName); console.log(this.Project.name); return "modify"}
      else if (this.projectId != this.Project._id){console.log(this.projectId); console.log(this.Project._id); return "modify"}
      else if (this.construct_address != this.Project.buildingAddress){console.log(this.construct_address); console.log(this.Project.buildingAddress); return "modify"}
      else if (this.construct_compaddress != this.Project.buildingCompAddress){console.log(this.construct_compaddress); console.log(this.Project.buildingCompAddress); return "modify"}
      else if (this.construct_cp != this.Project.buildingPostalCode){console.log(this.construct_cp); console.log(this.Project.buildingPostalCode); return "modify"}
      else if (this.construct_city != this.Project.buildingCity){console.log(this.construct_city); console.log(this.Project.buildingCity); return "modify"}
      else {return "not_modified"}
    },
    UpdateComponentControl:function(){
      console.log('UpdateComponentControl');

      if(this.statusComponent == "modify"){
        for (const key in this.Component){
          console.log('for');
          if (this.componentId == this.Component[key]._id){
            console.log('if1');
            if (this.componentName != this.Component[key].name){console.log(this.componentName); console.log(this.Component[key].name); return "modify"}
            else if (this.selectedProduct != this.Component[key].product){console.log(this.selectedProduct); console.log(this.Component[key].product); return "modify"}
            else if (this.selectedModule != this.Component[key].module){console.log(this.selectedModule); console.log(this.Component[key].module); return "modify"}
            else {return "not_modified"}
          }
        }
      }
      return "created";
    },
    controlNumber:function(){
      if (!/[0-9]/.test(this.construct_cp) || this.construct_cp.length != 5){
        this.error = "Veuillez saisir un code postal composée de 5 chiffres uniquement";
        return false;
      }else {
        return true;
      }
    },
    controlConstructCity:function(){
      if (this.construct_city == "" || /[0-9]/.test(this.construct_city)){
        this.error = "Veuillez saisir un nom de ville avec des lettres uniquement";
        this.showDismissibleAlert = true;
        return false;
      }else {
        return true;
      }
    },
    controlComponentName:function(){
      if(this.component_name == "") {
        this.error = "Veuillez saisir un nom de composant avant de valider";
        this.showDismissibleAlert = true;
        return false
      }else {
        return true;
      }
    },
    boxLeft:function(){
      if(this.boxNameToModify == 'box1'){
        this.positionLeftBox1--;
      }
      else if(this.boxNameToModify == 'box2'){
        this.positionLeftBox2--;
      }
      else if(this.boxNameToModify == 'box3'){
        this.positionLeftBox3--;
      }
      else if(this.boxNameToModify == 'box4'){
        this.positionLeftBox4--;
      }
      else if(this.boxNameToModify == 'box5'){
        this.positionLeftBox5--;
      }
      else if(this.boxNameToModify == 'box6'){
        this.positionLeftBox6--;
      }
      else if(this.boxNameToModify == 'box7'){
        this.positionLeftBox7--;
      }
      else if(this.boxNameToModify == 'box8'){
        this.positionLeftBox8--;
      }
    },
    boxRight:function(){
      if(this.boxNameToModify == 'box1'){
        this.positionLeftBox1++;
      }
      else if(this.boxNameToModify == 'box2'){
        this.positionLeftBox2++;
      }
      else if(this.boxNameToModify == 'box3'){
        this.positionLeftBox3++;
      }
      else if(this.boxNameToModify == 'box4'){
        this.positionLeftBox4++;
      }
      else if(this.boxNameToModify == 'box5'){
        this.positionLeftBox5++;
      }
      else if(this.boxNameToModify == 'box6'){
        this.positionLeftBox6++;
      }
      else if(this.boxNameToModify == 'box7'){
        this.positionLeftBox7++;
      }
      else if(this.boxNameToModify == 'box8'){
        this.positionLeftBox8++;
      }
    },
    boxTop:function(){
      if(this.boxNameToModify == 'box1'){
        this.positionRightBox1++;
      }
      else if(this.boxNameToModify == 'box2'){
        this.positionRightBox2++;
      }
      else if(this.boxNameToModify == 'box3'){
        this.positionRightBox3++;
      }
      else if(this.boxNameToModify == 'box4'){
        this.positionRightBox4++;
      }
      else if(this.boxNameToModify == 'box5'){
        this.positionRightBox5++;
      }
      else if(this.boxNameToModify == 'box6'){
        this.positionRightBox6++;
      }
      else if(this.boxNameToModify == 'box7'){
        this.positionRightBox7++;
      }
      else if(this.boxNameToModify == 'box8'){
        this.positionRightBox8++;
      }
    },
    boxBottom:function(){
      if(this.boxNameToModify == 'box1'){
        this.positionRightBox1--;
      }
      else if(this.boxNameToModify == 'box2'){
        this.positionRightBox2--;
      }
      else if(this.boxNameToModify == 'box3'){
        this.positionRightBox3--;
      }
      else if(this.boxNameToModify == 'box4'){
        this.positionRightBox4--;
      }
      else if(this.boxNameToModify == 'box5'){
        this.positionRightBox5--;
      }
      else if(this.boxNameToModify == 'box6'){
        this.positionRightBox6--;
      }
      else if(this.boxNameToModify == 'box7'){
        this.positionRightBox7--;
      }
      else if(this.boxNameToModify == 'box8'){
        this.positionRightBox8--;
      }
    },
    boxLengthPlus:function(){
      if(this.boxNameToModify == 'box1'){
        if(this.rotate == true){
          this.lengthBox1++;
        }else if (this.rotate == false){
          this.widthBox1++;
        }
      }
      else if(this.boxNameToModify == 'box2'){
        if(this.rotate == true){
          this.lengthBox2++;
        }else if (this.rotate == false){
          this.widthBox2++;
        }
      }
      else if(this.boxNameToModify == 'box3'){
        if(this.rotate == true){
          this.lengthBox3++;
        }else if (this.rotate == false){
          this.widthBox3++;
        }
      }
      else if(this.boxNameToModify == 'box4'){
        if(this.rotate == true){
          this.lengthBox4++;
        }else if (this.rotate == false){
          this.widthBox4++;
        }
      }
      else if(this.boxNameToModify == 'box5'){
        if(this.rotate == true){
          this.lengthBox5++;
        }else if (this.rotate == false){
          this.widthBox5++;
        }
      }
      else if(this.boxNameToModify == 'box6'){
        if(this.rotate == true){
          this.lengthBox6++;
        }else if (this.rotate == false){
          this.widthBox6++;
        }
      }
      else if(this.boxNameToModify == 'box7'){
        if(this.rotate == true){
          this.lengthBox7++;
        }else if (this.rotate == false){
          this.widthBox7++;
        }
      }
      else if(this.boxNameToModify == 'box8'){
        if(this.rotate == true){
          this.lengthBox8++;
        }else if (this.rotate == false){
          this.widthBox8++;
        }
      }
    },
    boxLengthMoin:function(){
      if(this.boxNameToModify == 'box1'){
        if(this.rotate == true){
          this.lengthBox1--;
        }else if (this.rotate == false){
          this.widthBox1--;
        }
      }
      else if(this.boxNameToModify == 'box2'){
        if(this.rotate == true){
          this.lengthBox2--;
        }else if (this.rotate == false){
          this.widthBox2--;
        }
      }
      else if(this.boxNameToModify == 'box3'){
        if(this.rotate == true){
          this.lengthBox3--;
        }else if (this.rotate == false){
          this.widthBox3--;
        }
      }
      else if(this.boxNameToModify == 'box4'){
        if(this.rotate == true){
          this.lengthBox4--;
        }else if (this.rotate == false){
          this.widthBox4--;
        }
      }
      else if(this.boxNameToModify == 'box5'){
        if(this.rotate == true){
          this.lengthBox5--;
        }else if (this.rotate == false){
          this.widthBox5--;
        }
      }
      else if(this.boxNameToModify == 'box6'){
        if(this.rotate == true){
          this.lengthBox6--;
        }else if (this.rotate == false){
          this.widthBox6--;
        }
      }
      else if(this.boxNameToModify == 'box7'){
        if(this.rotate == true){
          this.lengthBox7--;
        }else if (this.rotate == false){
          this.widthBox7--;
        }
      }
      else if(this.boxNameToModify == 'box8'){
        if(this.rotate == true){
          this.lengthBox8--;
        }else if (this.rotate == false){
          this.widthBox8--;
        }
      }
    },
    boxRotate:function(){
      var widthBox = "";
      var lengthBox = "";
      if(this.boxNameToModify == 'box1'){
        if(this.rotate == true){
          widthBox = this.widthBox1;
          this.widthBox1 = this.lengthBox1;
          this.lengthBox1 = widthBox;
          this.rotate = false;
        }else if(this.rotate == false){
          lengthBox = this.lengthBox1;
          this.lengthBox1 = this.widthBox1;
          this.widthBox1 = lengthBox;
          this.rotate = true;
        }
      }
      else if(this.boxNameToModify == 'box2'){
        if(this.rotate == true){
          widthBox = this.widthBox2;
          this.widthBox2 = this.lengthBox2;
          this.lengthBox2 = widthBox;
          this.rotate = false;
        }else if(this.rotate == false){
          lengthBox = this.lengthBox2;
          this.lengthBox2 = this.widthBox2;
          this.widthBox2 = lengthBox;
          this.rotate = true;
        }
      }
      else if(this.boxNameToModify == 'box3'){
        if(this.rotate == true){
          widthBox = this.widthBox3;
          this.widthBox3 = this.lengthBox3;
          this.lengthBox3 = widthBox;
          this.rotate = false;
        }else if(this.rotate == false){
          lengthBox = this.lengthBox3;
          this.lengthBox3 = this.widthBox3;
          this.widthBox3 = lengthBox;
          this.rotate = true;
        }
      }
      else if(this.boxNameToModify == 'box4'){
        if(this.rotate == true){
          widthBox = this.widthBox4;
          this.widthBox4 = this.lengthBox4;
          this.lengthBox4 = widthBox;
          this.rotate = false;
        }else if(this.rotate == false){
          lengthBox = this.lengthBox4;
          this.lengthBox4 = this.widthBox4;
          this.widthBox4 = lengthBox;
          this.rotate = true;
        }
      }
      else if(this.boxNameToModify == 'box5'){
        if(this.rotate == true){
          widthBox = this.widthBox5;
          this.widthBox5 = this.lengthBox5;
          this.lengthBox5 = widthBox;
          this.rotate = false;
        }else if(this.rotate == false){
          lengthBox = this.lengthBox5;
          this.lengthBox5 = this.widthBox5;
          this.widthBox5 = lengthBox;
          this.rotate = true;
        }
      }
      else if(this.boxNameToModify == 'box6'){
        if(this.rotate == true){
          widthBox = this.widthBox6;
          this.widthBox6 = this.lengthBox6;
          this.lengthBox6 = widthBox;
          this.rotate = false;
        }else if(this.rotate == false){
          lengthBox = this.lengthBox6;
          this.lengthBox6 = this.widthBox6;
          this.widthBox6 = lengthBox;
          this.rotate = true;
        }
      }
      else if(this.boxNameToModify == 'box7'){
        if(this.rotate == true){
          widthBox = this.widthBox7;
          this.widthBox7 = this.lengthBox7;
          this.lengthBox7 = widthBox;
          this.rotate = false;
        }else if(this.rotate == false){
          lengthBox = this.lengthBox7;
          this.lengthBox7 = this.widthBox7;
          this.widthBox7 = lengthBox;
          this.rotate = true;
        }
      }
      else if(this.boxNameToModify == 'box8'){
        if(this.rotate == true){
          widthBox = this.widthBox8;
          this.widthBox8 = this.lengthBox8;
          this.lengthBox8 = widthBox;
          this.rotate = false;
        }else if(this.rotate == false){
          lengthBox = this.lengthBox8;
          this.lengthBox8 = this.widthBox8;
          this.widthBox8 = lengthBox;
          this.rotate = true;
        }
      }
      
    },
    boxToModify(nameBox){
      this.boxNameToModify = nameBox;
      this.rotate = true;
    }
  },
};
</script>
<style  lang="scss">
  .ui.dropdown:not(.button) > .default.text {
      color: #495057;
      font-size: 1rem;
  }
  .canvas{
    width: 800px;
    height: 600px;
    background-color: #495057;
  }
  .btnBoxPosition{
    margin: 2px;
    background-color: #388e3c !important;
  }
</style>
