<template>
<div>
<mq-layout mq="lg">
      <navbar id="navbar"/>
    </mq-layout>

    <mq-layout :mq="['md','sm']">
      <nav class="main-nav" id ="mainNav">
        <burger></burger>
      </nav>
      <sideBar></sideBar>
    </mq-layout>
  <div class="p-1">
    

    <div class="mb-1 mt-2">
      <b-card class="w-75 mx-auto">
        <breadcrumb current="bilan"/>
      </b-card>
    </div>
    <div class="w-75 mx-auto">
      <b-card>
        <div class="row">
          <div class="col-md-12">
            <p><strong>Référence client :</strong></p>
          </div>
          <div class="col-md-3">
            <p>Civilité : {{ Customer.civility }}</p>
          </div>
          <div class="col-md-3">
            <p>Nom : {{ Customer.lastname }}</p>
          </div>
          <div class="col-md-6">
            <p>Prénom : {{ Customer.firstname }}</p>
          </div>
          <div class="col-md-3">
            <p>Adresse : {{ Customer.address }}</p>
          </div>
          <div class="col-md-3">
            <p>Complément : {{ Customer.compaddress }}</p>
          </div>
          <div class="col-md-3">
            <p>Cp : {{ Customer.postalcode }}</p>
          </div>
          <div class="col-md-3">
            <p>Ville : {{ Customer.city }}</p>
          </div>
          <div class="col-md-6">
            <p>Téléphone : {{ Customer.phoneNumber }}</p>
          </div>
          <div class="col-md-6">
            <p>Adresse mail : {{ Customer.emailAddress }}</p>
          </div>

          <div class="col-md-12 mt-3">
            <p><strong>Référence devis :</strong></p>
          </div>
          <div class="col-md-12">
            <p>Nom du projet : {{ Project.name }}</p>
          </div>
          <div class="col-md-3">
            <p>Adresse de construction : {{ Project.buildingAddress }}</p>
          </div>
          <div class="col-md-3">
            <p>Complément adresse : {{ Project.buildingCompAddress }}</p>
          </div>
          <div class="col-md-3">
            <p>Cp de construction : {{ Project.buildingPostalCode }}</p>
          </div>
          <div class="col-md-3">
            <p>Ville de construction : {{ Project.buildingCity }}</p>
          </div>
          <!-- COMPONENT -->
          <div class="col-md-12 mt-3">
            <b-table striped hover :items="Component" :fields="fields">
              <template v-slot:cell(name)="data">
                  {{ data.item.name }}
                </template>
                <template v-slot:cell(product)="data">
                  {{ data.item.product.name }}
                </template>
                <template v-slot:cell(module)="data">
                  {{ data.item.module.name }}
                </template>
                <template v-slot:cell(amount)="data">
                  {{ data.item.amount }}
                </template>

            </b-table>
          </div>
        </div>
        <b-row class="col-md-12 justify-content-around ml-2 mt-3">
          <div class="col-md-3">
            <b-button to="/devis/nouveau" id="btnRed" pill>Modifier Info client</b-button>
          </div>
          <div class="col-md-3">
            <b-button to="/devis/options" id="btnRed" pill>Modifier options devis</b-button>
          </div>
          <div class="col-md-2">
            <b-button id="btnGreen" v-on:click="createPdf()" pill>Terminer</b-button>
          </div>
        </b-row>
      </b-card>
    </div>
  </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import breadcrumb from "../../components/_breadcrumb";

import navbar from '../../components/_navBar'
import burger from '../../components/_burger'
import sideBar from '../../components/_sideBar'

export default {
  name: "quoteBilan",
  components: {
    breadcrumb,
    navbar,
    burger,
    sideBar
  },
  computed: {
    ...mapState(["Customer", "Project","Product","Component"]),
  },
  data() {
    return {
      fields: [
        { key: "name", label: "Nom du composant" },
        { key: "product", label: "Nom du produit" },
        { key: "module", label: "Nom du Module" },
        { key: "amount", label: "Prix du composant" },
      ],
    };
  },
  created(){

  },
  methods:{
    createPdf:function(){
      this.$store.dispatch("createPdf");
      this.$router.push({ name: "quotes"});
    },
  }
};
</script>

<style>
</style>
